*{
  padding: 0  !important;
  margin: 0  !important;
  font-family: Sans-Serif  !important;
  box-sizing: border-box  !important;
}
.p-sc, .p-static, .psc, .pstatic{ position: static  !important; }
.p-r, .pr{ position: relative  !important; }
.p-f, .pf.{ position: fixed  !important; }
.p-a, .pa{ position: absolute  !important; }
.p-sy, .p-sticky, .psy, .psticky{ position: sticky  !important; }

.d-i, .di{ display: inline  !important; }
.d-b, .db{ display: block  !important; }
.d-cs, .d-contents, .dcs, .dcontents{ display: contents  !important; }
.d-f, .df{ display: flex  !important; }
.d-g, .dg{ display: grid  !important; }
.d-i-b, .dib{ display: inline-block  !important; }
.d-i-f, .dif{ display: inline-flex  !important; }
.d-i-g, .dig{ display: inline-grid  !important; }
.d-i-t, .dit{ display: inline-table  !important; }
.d-r-i, .dri{ display: run-in  !important; }
.d-l-i, .dli{ display: list-item  !important; }
.d-t, .dt{ display: table  !important; }
.d-t-c, .dtc{ display: table-caption  !important; }
.d-t-f-g, .dtfg{ display: table-footer-group  !important; }
.d-t-h-g, .dthg{ display: table-header-group  !important; }
.d-t-c-g, .dtcg{ display: table-column-group  !important; }
.d-t-r-g{ display: table-row-group  !important; }
.d-t-r{ display: table-row  !important; }
.d-t-column, .d-t-cm{ display: table-column  !important; }
.d-t-cell, .d-t-cl{ display: table-cell  !important; }
.d-inherit, .d-it{ display: inherit  !important; }
.d-initial, .d-il{ display: initial  !important; }
.d-n, .dn{ display: none  !important; }

.o-a, .oa{ overflow: auto  !important; }
.o-s, .os{ overflow: scroll  !important; }
.o-h, .oh{ overflow: hidden  !important; }
.o-v, .ov{ overflow: visible  !important; }
.o-x-a, .oxa{ overflow-x: auto  !important; }
.o-x-s, .oxs{ overflow-x: scroll  !important; }
.o-x-h, .oxh{ overflow-x: hidden  !important; }
.o-x-v, .oxv{ overflow-x: visible  !important; }
.o-y-a, .oya{ overflow-y: auto  !important; }
.o-y-s, .oys{ overflow-y: scroll  !important; }
.o-y-h, .oyh{ overflow-y: hidden  !important; }
.o-y-v, .oyv{ overflow-y: visible  !important; }

.t-a-j, .taj{ text-align: justify  !important; }
.t-a-r, .tar{ text-align: right  !important; }
.t-a-l, .tal{ text-align: left  !important; }
.t-a-c, .tac{ text-align: center  !important; }
.t-a-n, .tan{ text-align: none  !important; }
.t-a-l-j, .talj{ text-align-last: justify  !important; }
.t-a-l-r, .talr{ text-align-last: right  !important; }
.t-a-l-l, .tall{ text-align-last: left  !important; }
.t-a-l-c, .talc{ text-align-last: center  !important; }
.t-a-l-n, .taln{ text-align-last: none  !important; }

.j-c-f-s, .jcfs{ justify-content: flex-start  !important; }
.j-c-f-e, .jcfe{ justify-content: flex-end  !important; }
.j-c-c, .jcc{ justify-content: center  !important; }
.j-c-s-e, .jcse{ justify-content: space-evenly  !important; }
.j-c-s-a, .jcsa{ justify-content: space-around  !important; }
.j-c-s-b, .jcsb{ justify-content: space-between  !important; }
.j-c-n, .jcn{ justify-content: none  !important; }

.t-d-u, .tdu{ text-decoration: underline  !important; }
.t-d-o, .tdo{ text-decoration: overline  !important; }
.t-d-l-t, .tdlt{ text-decoration: line-through  !important; }
.t-d-n, .tdn{ text-decoration: none  !important; }

.a-c-s, .acs{ align-content: stretch  !important; }
.a-c-c, .acc{ align-content: center  !important; }
.a-c-f-s, .acfs{ align-content: flex-start  !important; }
.a-c-f-e, .acfe{ align-content: flex-end  !important; }
.a-c-s-b, .acs-b{ align-content: space-between  !important; }
.a-c-s-a, .acs-a{ align-content: space-around  !important; }
.a-c-s-e, .acse{ align-content: space-evenly  !important; }
.a-c-n, .acn{ align-content: none  !important; }

.a-i-f-e, .aife{ align-items: flex-end  !important; }
.a-i-f-s, .aifs{ align-items: flex-start  !important; }
.a-i-c, .aic{ align-items: center  !important; }
.a-i-s, .ais{ align-items: stretch  !important; }
.a-i-nl, .a-i-normal, .ainl, .ainormal{ align-items: normal  !important; }
.a-i-b, .aib{ align-items: baseline  !important; }
.a-i-e, .aie{ align-items: end  !important; }
.a-i-s, .ais{ align-items: start  !important; }
.a-i-n, .ain{ align-items: none  !important; }

.a-s-a, .asa{ align-self: auto  !important; }
.a-s-s, .ass{ align-self: stretch  !important; }
.a-s-c, .asc{ align-self: center  !important; }
.a-s-f-s, .asfs{ align-self: flex-start  !important; }
.a-s-f-e, .asfe{ align-self: flex-end  !important; }
.a-s-b, .asb{ align-self: baseline  !important; }
.a-s-b, .asb{ align-self: none  !important; }

.b-s-c-b, .bscb{ box-sizing: content-box }
.b-s-b-b, .bsbb{ box-sizing: border-box }

.f-f-s, .ffs{ font-family: serif  !important; }
.f-f-s-s, .ffss{ font-family: sans-serif  !important; }
.f-f-c, .ffc{ font-family: cursive  !important; }
.f-f-f, .fff{ font-family: fantasy  !important; }
.f-f-m, .ffm{ font-family: monospace  !important; }

.f-d-r, .fdr{ flex-direction: row  !important; }
.f-d-r-r, .fdrr{ flex-direction: row-reverse  !important; }
.f-d-c, .fdc{ flex-direction: column  !important; }
.f-d-c-r, .fdcr{ flex-direction: column-reverse  !important; }
.f-d-n, .fdn{ flex-direction: none  !important; }

.c-as, .ca{cursor: alias  !important;}
.c-a-s, .cas{cursor: all-scroll  !important;}
.c-ao, .cauto{cursor: auto  !important;}
.c-c, .cc{cursor: cell  !important;}
.c-c-r, .ccr{cursor: col-resize  !important;}
.c-c-m, .ccm{cursor: context-menu  !important;}
.c-cy, .ccy, .ccopy{cursor: copy  !important;}
.c-cr, .ccr, .ccrosshair{cursor: crosshair  !important;}
.c-d, .cd{cursor: default  !important;}
.c-e-s, .ces{cursor: e-resize  !important;}
.c-ew-r, .cewr{cursor: ew-resize  !important;}
.c-gb, .cgb, .cgrap{cursor: grab  !important;}
.c-gg, .cgg, .cgrabbing{cursor: grabbing  !important;}
.c-h, .ch{cursor: help  !important;}
.c-m, .cm{cursor: move  !important;}
.c-n-re, .cnre, .cnresize{cursor: n-resize  !important;}
.c-ne-r, .cner{cursor: ne-resize  !important;}
.c-nesw-r, .cneswr{cursor: nesw-resize  !important;}
.c-ns-r, .cnsr{cursor: ns-resize  !important;}
.c-nw-r, .cnwr{cursor: nw-resize  !important;}
.c-nw-s-e-re, .cnwsere, .cnwseresize{cursor: nw-s-e-resize  !important;}
.c-no-d, .cno-d{cursor: no-drop  !important;}
.c-n, .cn{cursor: none  !important;}
.c-not-a, .cnot-a{cursor: not-allowed  !important;}
.c-pr, .cpr, .cpointer{cursor: pointer  !important;}
.c-ps, .cps, .cprogress{cursor: progress  !important;}
.c-r-r, .crr{cursor: row-resize  !important;}
.c-s-r, .csr{cursor: s-resize  !important;}
.c-se-r, .cser{cursor: se-resize  !important;}
.c-sw-r, .cswr{cursor: sw-resize  !important;}
.c-t, .ct{cursor: text  !important;}
.c-w-r, .cwr{cursor: w-resize  !important;}
.c-w, .cw{cursor: wait  !important;}
.c-z-i, .czin{cursor: zoom-in  !important;}
.c-z-o, .czout{cursor: zoom-out  !important;}

.f-w-n, .fwn{ font-weight: normal  !important; }
.f-w-bd, .fwbd, .fwbold{ font-weight: bold  !important; }
.f-w-br, .fwbr, .fwbolder{ font-weight: bolder  !important; }
.f-w-l, .fwl{ font-weight: lighter  !important; }
.f-w-n, .fwn{ font-weight: number  !important; }
.f-w-100, .fw100{ font-weight: 100  !important; }
.f-w-200, .fw200{ font-weight: 200  !important; }
.f-w-300, .fw300{ font-weight: 300  !important; }
.f-w-400, .fw400{ font-weight: 400  !important; }
.f-w-500, .fw500{ font-weight: 500  !important; }
.f-w-600, .fw600{ font-weight: 600  !important; }
.f-w-700, .fw700{ font-weight: 700  !important; }
.f-w-800, .fw800{ font-weight: 800  !important; }
.f-w-900, .fw900{ font-weight: 900  !important; }

.b-c-c, .bcc{ border-collapse: collapse  !important; }
.b-c-s, .bcs{ border-collapse: separate  !important; }
.b-c-n, .bcn{ border-collapse: none  !important; }

.e-c-s, .ecs{empty-cells: show  !important;}
.e-c-h, .ech{empty-cells: hide  !important;}
.e-c-n, .ecn{empty-cells: none  !important;}

.f-f-r, .ffr{flex-flow: row  !important;}
.f-f-r-r, .ffrr{flex-flow: row-reverse  !important;}
.f-f-n, .ffn{flex-flow: none  !important;}

.f-w-w, .fww{flex-wrap: wrap  !important;}
.f-w-w-r, .fwwr{flex-wrap: wrap-reverse  !important;}
.f-w-np, .fwnowrap{flex-wrap: nowrap  !important;}
.f-w-n, .fwn, .fwne, .fwnone{flex-wrap: none  !important;}

.f-l, .fl{float: left  !important;}
.f-r, .fr{float: right  !important;}
.f-n, .fn{float: none  !important;}

.f-s-n, .fsn{font-style: normal  !important;}
.f-s-i, .fsi{font-style: italic  !important;}
.f-s-o, .fso{font-style: oblique  !important;}
.f-s-n, .fsn{font-style: none  !important;}

.l-s-n, .lsn{list-style: none  !important;}
.l-s-t-n, .lstn{list-style-type: none  !important;}
.l-s-t-d, .lstd{list-style-type: disc  !important;}
.l-s-t-c, .lstc{list-style-type: circle  !important;}
.l-s-t-s, .lsts{list-style-type: square  !important;}
.l-s-t-d, .lstd{list-style-type: decimal  !important;}
.l-s-t-d-l-z, .lstdlz{list-style-type: decimal-leading-zero  !important;}
.l-s-t-u-a, .lstua{list-style-type: upper-alpha  !important;}
.l-s-t-u-r, .lstur{list-style-type: upper-roman  !important;}
.l-s-t-u-l, .lstul{list-style-type: upper-latin  !important;}
.l-s-t-l-a, .lstla{list-style-type: lower-alpha  !important;}
.l-s-t-l-g, .lstlg{list-style-type: lower-greek  !important;}
.l-s-t-l-l, .lstll{list-style-type: lower-latin  !important;}
.l-s-t-l-r, .lstlr{list-style-type: lower-roman  !important;}
.l-s-t-n, .lstn{list-style-type: none  !important;}

.l-s-p-i, .lspi{list-style-position: inside  !important;}
.l-s-p-o, .lspo{list-style-position: outside  !important;}
.l-s-p-n, .lspn{list-style-position: none  !important;}

.o-f-f, .off{object-fit: fill  !important;}
.o-f-cn, .l-s-contain, .ofcn, .lscontain{object-fit: contain  !important;}
.o-f-c, .ofc{object-fit: cover  !important;}
.o-f-s-d, .ofsd{object-fit: scale-down  !important;}
.o-f-n, .ofn{object-fit: none  !important;}

.o0,{opacity: 0  !important;}
.o00,{opacity: 0.0  !important;}
.o01,{opacity: 0.1  !important;}
.o02,{opacity: 0.2  !important;}
.o03,{opacity: 0.3  !important;}
.o04,{opacity: 0.4  !important;}
.o05,{opacity: 0.5  !important;}
.o06,{opacity: 0.6  !important;}
.o07,{opacity: 0.7  !important;}
.o08,{opacity: 0.8  !important;}
.o09,{opacity: 0.9  !important;}
.o1,{opacity: 1  !important;}

.r-b, .rb{resize: both  !important; }
.r-h, .rh{resize: horizontal  !important; }
.r-v, .rv{resize: vertical  !important; }
.r-n, .rn{resize: none  !important; }

.t-l-a, .tla{table-layout: auto  !important;}
.t-l-f, .tlf{table-layout: fixed  !important;}
.t-l-n, .tln{table-layout: none  !important;}

.t-t-u, .ttu{text-transform: uppercase  !important;}
.t-t-l, .ttl{text-transform: lowercase  !important;}
.t-t-c, .ttc{text-transform: capitalize  !important;}
.t-t-n, .ttn{text-transform: none  !important;}

.v-a-b, .vab{vertical-align: baseline  !important;}
.v-a-sb, .v-a-sb, .vasub, .vasub{vertical-align: sub  !important;}
.v-a-sr, .v-a-sr, .vasuper, .vasuper{vertical-align: super  !important;}
.v-a-t, .vat{vertical-align: top  !important;}
.v-a-t-t, .vatt{vertical-align: text-top  !important;}
.v-a-m, .vam{vertical-align: middle  !important;}
.v-a-b, .vab{vertical-align: bottom  !important;}
.v-a-t-b, .vatb{vertical-align: text-bottom  !important;}
.v-a-t-n, .vatn{vertical-align: none  !important;}

.w-s-p, .wsp{white-space: pre  !important;}
.w-s-np, .wsnowrap{white-space: nowrap  !important;}
.w-s-n, .wsn, .wsne, .wsnone{white-space: none  !important;}

.w-m-v-l, .wmvl{writing-mode: vertical-lr !important;}
.w-m-v-r, .wmvr{writing-mode: vertical-rl !important;}
.w-m-n, .wmn{writing-mode: none !important;}

.w-s-h-t, .wsht{writing-space: horizontal-tb !important;}
.w-s-v-r, .wsvr{writing-space: vertical-rl !important;}
.w-s-v-l, .wsvl{writing-space: vertical-lr !important;}
.w-s-n, .wsn{writing-space: none !important;}

.f-v-s-c, .fvsc{font-variant: small-caps  !important;}
.f-v-n, .fvn{font-variant: normal  !important;}
.f-v-il, .fvinitial{font-variant: initial  !important;}
.f-v-it, .fvinherit{font-variant: inherit  !important;}
.f-v-n, .fvn,{font-variant: none  !important;}

.center{
  position: absolute  !important;
  top: 50%  !important;
  left: 50%  !important;
  transform: translate(-50%, -50%)  !important;
}
.center2{
  display: flex  !important;
  justify-content: center  !important;
  align-items: center  !important;
}
.bn{ border: none  !important; }

.ma{ margin-right: auto  !important; margin-left: auto !important; }

.toc{text-overflow:clip !important;}
.toe{text-overflow:ellipsis !important;}
.tos{text-overflow:string !important;}
.toil, .toinitial{text-overflow:initial !important;}
.toit, .toinherit{text-overflow:inherit !important;}
.ton, .ton{text-overflow:none !important;}

.wbn{word-break:normal !important;}
.wbbw{word-break:break-word !important;}
.wbil, .wbinitial{word-break:initial !important;}
.wbit, .wbinherit{word-break:inherit !important;}
.wbn{word-break:none !important;}

.wwn{word-wrap:normal !important;}
.wwbw{word-wrap:break-word !important;}
.wwil, .wbinitial{word-wrap:initial !important;}
.wwit, .wbinherit{word-wrap:inherit !important;}
.wbn{word-wrap:none !important;}

.tpn{transition-duration-delay:none !important;}
.tpa{transition-duration-delay-mm:all !important;}
.tpp{transition-duration-delay:property !important;}
.tpil,.tpinitial{transition-duration-delay:initial !important;}
.tpit,.tpinherit {transition-duration-delay:inherit !important;}
.tpp,{transition-duration-delay:property !important;}

.ttfl{transition-timing-function:linear !important;}
.ttfe{transition-timing-function:ease !important;}
.ttfei{transition-timing-function:ease-in !important;}
.ttfeo{transition-timing-function:ease-out !important;}
.ttfeio{transition-timing-function:ease-in-out !important;}
.ttfss{transition-timing-function:step-start !important;}
.ttfse{transition-timing-function:step-end !important;}
.ttfil,.ttfinitial{transition-timing-function:initial !important;}
.ttfit,.ttfinherit{transition-timing-function:inherit !important;}
.ttfn{transition-timing-function:inherit !important;}

.t0{transition:0s !important;}
.t00{transition:0.0s !important;}
.t01{transition:0.1s !important;}
.t02{transition:0.2s !important;}
.t03{transition:0.3s !important;}
.t04{transition:0.4s !important;}
.t05{transition:0.5s !important;}
.t06{transition:0.6s !important;}
.t07{transition:0.7s !important;}
.t08{transition:0.8s !important;}
.t09{transition:0.9s !important;}
.t1{transition:1s !important;}

.tdy01,.tdelay01{transition-delay:0.1s !important;}
.tdy02,.tdelay02{transition-delay:0.2s !important;}
.tdy03,.tdelay03{transition-delay:0.3s !important;}
.tdy04,.tdelay04{transition-delay:0.4s !important;}
.tdy05,.tdelay05{transition-delay:0.5s !important;}
.tdy06,.tdelay06{transition-delay:0.6s !important;}
.tdy07,.tdelay07{transition-delay:0.7s !important;}
.tdy08,.tdelay08{transition-delay:0.8s !important;}
.tdy09,.tdelay09{transition-delay:0.9s !important;}
.tdy1,.tdelay1{transition-delay:1s !important;}
.tdy0,.tdelay0{transition-delay:0s !important;}
.tdyn,.tdelayn{transition-delay:none !important;}

.tdn01,.tduration01{transition-duration:0.1s !important;}
.tdn02,.tduration02{transition-duration:0.2s !important;}
.tdn03,.tduration03{transition-duration:0.3s !important;}
.tdn04,.tduration04{transition-duration:0.4s !important;}
.tdn05,.tduration05{transition-duration:0.5s !important;}
.tdn06,.tduration06{transition-duration:0.6s !important;}
.tdn07,.tduration07{transition-duration:0.7s !important;}
.tdn08,.tduration08{transition-duration:0.8s !important;}
.tdn09,.tduration09{transition-duration:0.9s !important;}
.tdn1,.tduration1{transition-duration:1s !important;}
.tdn0,.tduration0{transition-duration:0s !important;}
.tdnn,.tdurationn{transition-duration:none !important;}

.crsn{column-rule-style:none;}
.crsh{column-rule-style:hidden;}
.crsdotted{column-rule-style:dotted;}
.crsdashed{column-rule-style:dashed;}
.crss{column-rule-style:solid;}
.crsde,.crsdouble{column-rule-style:double;}
.crsg{column-rule-style:groove;}
.crsr{column-rule-style:ridge;}
.crsi{column-rule-style:inset;}
.crso{column-rule-style:outset;}
.crsil,.crsinitial{column-rule-style:initial;}
.crsn,.crsinherit{column-rule-style:inherit;}
.crsn,{column-rule-style:none;}

.csn{column-span:none !important;}
.csa{column-span:all !important;}
.csil,.csinitial{column-span:initial !important;}
.csit,.csinherit{column-span:inherit !important;}
.csn{column-span:none !important;}

.bss{border-style:solid !important;}
.bsdashed{border-style:dashed !important;}
.bsdotted{border-style:dotted !important;}
.bsdouble{border-style:double !important;}
.bsg{border-style:groove !important;}
.bsr{border-style:ridge !important;}
.bsi{border-style:inset !important;}
.bso{border-style:outset !important;}
.bsn{border-style: none !important;}
.bwn{border-width: 0px !important;}
.bcn{border-color: none !important;}
.bct{border-color: transparent !important;}
.bit, .binherit{border: inherit !important;}
.bil, .binitial{border: initial !important;}

.oss{outline-style:solid !important;}
.osdashed{outline-style:dashed !important;}
.osdotted{outline-style:dotted !important;}
.osdouble{outline-style:double !important;}
.osg{outline-style:groove !important;}
.osr{outline-style:ridge !important;}
.osi{outline-style:inset !important;}
.oso{outline-style:outset !important;}
.osn{outline-style: none !important;}
.own{outline-width: 0px !important;}
.ocn{outline-color: none !important;}
.oct{outline-color: transparent !important;}
.oit, .oinherit{outline: inherit !important;}
.oil, .oinitial{outline: initial !important;}
.on{outline: none !important;}