
.b-c-aliceblue{background-color: aliceblue !important;}

.b-c-aqua{background-color: aqua !important;}

.b-c-aquamarine{background-color: aquamarine !important;}

.b-c-azure{background-color: azure !important;}

.b-c-beige{background-color: beige !important;}

.b-c-bisque{background-color: bisque !important;}

.b-c-black{background-color: black !important;}

.b-c-blue{background-color: blue !important;}

.b-c-brown{background-color: brown !important;}

.b-c-coral{background-color: coral !important;}

.b-c-cyan{background-color: cyan !important;}

.b-c-darkblue{background-color: darkblue !important;}

.b-c-darkcyan{background-color: darkcyan !important;}

.b-c-darkgray{background-color: darkgray !important;}

.b-c-darkgreen{background-color: darkgreen !important;}

.b-c-darkkhaki{background-color: darkkhaki !important;}

.b-c-darkorange{background-color: darkorange !important;}

.b-c-darkorchid{background-color: darkorchid !important;}

.b-c-darkred{background-color: darkred !important;}

.b-c-darksalmon{background-color: darksalmon !important;}

.b-c-darkviolet{background-color: darkviolet !important;}

.b-c-deeppink{background-color: deeppink !important;}

.b-c-dimgray{background-color: dimgray !important;}

.b-c-dodgerblue{background-color: dodgerblue !important;}

.b-c-firebrick{background-color: firebrick !important;}

.b-c-floralwhite{background-color: floralwhite !important;}

.b-c-forestgreen{background-color: forestgreen !important;}

.b-c-fuchsia{background-color: fuchsia !important;}

.b-c-gainsboro{background-color: gainsboro !important;}

.b-c-ghostwhite{background-color: ghostwhite !important;}

.b-c-ghostwhite{background-color: ghostwhite !important;}

.b-c-gold{background-color: gold !important;}

.b-c-goldenrod{background-color: goldenrod !important;}

.b-c-gray{background-color: gray !important;}

.b-c-green{background-color: green !important;}

.b-c-greenyellow{background-color: greenyellow !important;}

.b-c-honeydew{background-color: honeydew !important;}

.b-c-hotpink{background-color: hotpink !important;}

.b-c-indianred{background-color: indianred !important;}

.b-c-indigo{background-color: indigo !important;}

.b-c-ivory{background-color: ivory !important;}

.b-c-khaki{background-color: khaki !important;}

.b-c-lavender{background-color: lavender !important;}

.b-c-lawngreen{background-color: lawngreen !important;}

.b-c-lightblue{background-color: lightblue !important;}

.b-c-lightcoral{background-color: lightcoral !important;}

.b-c-lightcyan{background-color: lightcyan !important;}

.b-c-lightgray{background-color: lightgray !important;}

.b-c-lightpink{background-color: lightpink !important;}

.b-c-lime{background-color: lime !important;}

.b-c-limegreen{background-color: limegreen !important;}

.b-c-linen{background-color: linen !important;}

.b-c-magenta{background-color: magenta !important;}

.b-c-maroon{background-color: maroon !important;}

.b-c-mediumblue{background-color: mediumblue !important;}

.b-c-mintcream{background-color: mintcream !important;}

.b-c-mistyrose{background-color: mistyrose !important;}

.b-c-moccasin{background-color: moccasin !important;}

.b-c-navajowhite{background-color: navajowhite !important;}

.b-c-navy{background-color: navy !important;}

.b-c-oldlace{background-color: oldlace !important;}

.b-c-olive{background-color: olive !important;}

.b-c-olivedrab{background-color: olivedrab !important;}

.b-c-orange{background-color: orange !important;}

.b-c-orangered{background-color: orangered !important;}

.b-c-orchid{background-color: orchid !important;}

.b-c-palegreen{background-color: palegreen !important;}

.b-c-papayawhip{background-color: papayawhip !important;}

.b-c-peachpuff{background-color: peachpuff !important;}

.b-c-peru{background-color: peru !important;}

.b-c-pink{background-color: pink !important;}

.b-c-plum{background-color: plum !important;}

.b-c-powderblue{background-color: powderblue !important;}

.b-c-purple{background-color: purple !important;}

.b-c-rebeccapurple{background-color: rebeccapurple !important;}

.b-c-red{background-color: red !important;}

.b-c-rosybrown{background-color: rosybrown !important;}

.b-c-royalblue{background-color: royalblue !important;}

.b-c-saddlebrown{background-color: saddlebrown !important;}

.b-c-salmon{background-color: salmon !important;}

.b-c-sandybrown{background-color: sandybrown !important;}

.b-c-seagreen{background-color: seagreen !important;}

.b-c-seashell{background-color: seashell !important;}

.b-c-sienna{background-color: sienna !important;}

.b-c-silver{background-color: silver !important;}

.b-c-skyblue{background-color: skyblue !important;}

.b-c-slateblue{background-color: slateblue !important;}

.b-c-slategray{background-color: slategray !important;}

.b-c-snow{background-color: snow !important;}

.b-c-springgreen{background-color: springgreen !important;}

.b-c-steelblue{background-color: steelblue !important;}

.b-c-tan{background-color: tan !important;}

.b-c-teal{background-color: teal !important;}

.b-c-thistle{background-color: thistle !important;}

.b-c-tomato{background-color: tomato !important;}

.b-c-transparent{background-color: transparent !important;}

.b-c-turquoise{background-color: turquoise !important;}

.b-c-violet{background-color: violet !important;}

.b-c-wheat{background-color: wheat !important;}

.b-c-white{background-color: white !important;}

.b-c-whitesmoke{background-color: whitesmoke !important;}

.b-c-yellow{background-color: yellow !important;}

.b-c-yellowgreen{background-color: yellowgreen !important;}