/*
border
.bw${i}{border-width: ${i}px !important;}
.bc${data}{border-color:${data} !important;}
*/
.bw0{border-width:0px !important;}
.bw1{border-width:1px !important;}
.bw2{border-width:2px !important;}
.bw3{border-width:3px !important;}
.bw4{border-width:4px !important;}
.bw5{border-width:5px !important;}
.bw6{border-width:6px !important;}
.bw7{border-width:7px !important;}
.bw8{border-width:8px !important;}
.bw9{border-width:9px !important;}
.bw10{border-width:10px !important;}
.bw11{border-width:11px !important;}
.bw12{border-width:12px !important;}
.bw13{border-width:13px !important;}
.bw14{border-width:14px !important;}
.bw15{border-width:15px !important;}
.bw16{border-width:16px !important;}
.bw17{border-width:17px !important;}
.bw18{border-width:18px !important;}
.bw19{border-width:19px !important;}
.bw20{border-width:20px !important;}
.bw21{border-width:21px !important;}
.bw22{border-width:22px !important;}
.bw23{border-width:23px !important;}
.bw24{border-width:24px !important;}
.bw25{border-width:25px !important;}
.bw26{border-width:26px !important;}
.bw27{border-width:27px !important;}
.bw28{border-width:28px !important;}
.bw29{border-width:29px !important;}
.bw30{border-width:30px !important;}
.bw31{border-width:31px !important;}
.bw32{border-width:32px !important;}
.bw33{border-width:33px !important;}
.bw34{border-width:34px !important;}
.bw35{border-width:35px !important;}
.bw36{border-width:36px !important;}
.bw37{border-width:37px !important;}
.bw38{border-width:38px !important;}
.bw39{border-width:39px !important;}
.bw40{border-width:40px !important;}
.bw41{border-width:41px !important;}
.bw42{border-width:42px !important;}
.bw43{border-width:43px !important;}
.bw44{border-width:44px !important;}
.bw45{border-width:45px !important;}
.bw46{border-width:46px !important;}
.bw47{border-width:47px !important;}
.bw48{border-width:48px !important;}
.bw49{border-width:49px !important;}
.bw50{border-width:50px !important;}
.bcazure{border-color:azure !important;}
.bcblack{border-color:black !important;}
.bcblue{border-color:blue !important;}
.bccornsilk{border-color:cornsilk !important;}
.bcdarkblue{border-color:darkblue !important;}
.bcdarkcyan{border-color:darkcyan !important;}
.bcdarkgoldenrod{border-color:darkgoldenrod !important;}
.bcdarkgray{border-color:darkgray !important;}
.bcdarkgreen{border-color:darkgreen !important;}
.bcdarkmagenta{border-color:darkmagenta !important;}
.bcdarkorchid{border-color:darkorchid !important;}
.bcdarkred{border-color:darkred !important;}
.bcdeep{border-color:deep !important;}
.bcpink{border-color:pink !important;}
.bcpink{border-color:pink !important;}
.bcfirebrick{border-color:firebrick !important;}
.bcfloralwhite{border-color:floralwhite !important;}
.bcforestgreen{border-color:forestgreen !important;}
.bcmagenta{border-color:magenta !important;}
.bcgainsboro{border-color:gainsboro !important;}
.bcghostwhite{border-color:ghostwhite !important;}
.bcgold{border-color:gold !important;}
.bcgoldenrod{border-color:goldenrod !important;}
.bcgreen{border-color:green !important;}
.bcgreenyellow{border-color:greenyellow !important;}
.bchoneydew{border-color:honeydew !important;}
.bchotpink{border-color:hotpink !important;}
.bcindianred{border-color:indianred !important;}
.bcindigo{border-color:indigo !important;}
.bcivory{border-color:ivory !important;}
.bckhaki{border-color:khaki !important;}
.bclavender{border-color:lavender !important;}
.bclavenderblush{border-color:lavenderblush !important;}
.bclawngreen{border-color:lawngreen !important;}
.bclightblue{border-color:lightblue !important;}
.bclightcoral{border-color:lightcoral !important;}
.bclightcyan{border-color:lightcyan !important;}
.bclightgoldenrodyellow{border-color:lightgoldenrodyellow !important;}
.bclightgray{border-color:lightgray !important;}
.bclightgreen{border-color:lightgreen !important;}
.bclightpink{border-color:lightpink !important;}
.bclightslategray{border-color:lightslategray !important;}
.bclightsteelblue{border-color:lightsteelblue !important;}
.bclime{border-color:lime !important;}
.bclimegreen{border-color:limegreen !important;}
.bcmagenta{border-color:magenta !important;}
.bcmaroon{border-color:maroon !important;}
.bcmediumblue{border-color:mediumblue !important;}
.bcmediumspringgreen{border-color:mediumspringgreen !important;}
.bcmintcream{border-color:mintcream !important;}
.bcmistyrose{border-color:mistyrose !important;}
.bcmoccasin{border-color:moccasin !important;}
.bcnavajowhite{border-color:navajowhite !important;}
.bcolive{border-color:olive !important;}
.bcoldlace{border-color:oldlace !important;}
.bcolivedrab{border-color:olivedrab !important;}
.bcorangered{border-color:orangered !important;}
.bcpalegreen{border-color:palegreen !important;}
.bcpapayawhip{border-color:papayawhip !important;}
.bcpeachpuff{border-color:peachpuff !important;}
.bcpink{border-color:pink !important;}
.bcplum{border-color:plum !important;}
.bcpowderblue{border-color:powderblue !important;}
.bcpurple{border-color:purple !important;}
.bcrebeccapurple{border-color:rebeccapurple !important;}
.bcrosybrown{border-color:rosybrown !important;}
.bcroyalblue{border-color:royalblue !important;}
.bcsalmon{border-color:salmon !important;}
.bcsandybrown{border-color:sandybrown !important;}
.bcseagreen{border-color:seagreen !important;}
.bcseashell{border-color:seashell !important;}
.bcsienna{border-color:sienna !important;}
.bcsilver{border-color:silver !important;}
.bcskyblue{border-color:skyblue !important;}
.bcsnow{border-color:snow !important;}
.bcsteelblue{border-color:steelblue !important;}
.bctan{border-color:tan !important;}
.bctomato{border-color:tomato !important;}
.bcturquoise{border-color:turquoise !important;}
.bcviolet{border-color:violet !important;}
.bcwheat{border-color:wheat !important;}
.bcwhite{border-color:white !important;}
.bcwhitesmoke{border-color:whitesmoke !important;}
.bcyellowgreen{border-color:yellowgreen !important;}
.bcred{border-color:red !important;}
.bcorange{border-color:orange !important;}
.bcyellow{border-color:yellow !important;}