.b-0-azure, .b0azure{ border: 0px solid azure; }
.b-1-azure, .b1azure{ border: 1px solid azure; }
.b-2-azure, .b2azure{ border: 2px solid azure; }
.b-3-azure, .b3azure{ border: 3px solid azure; }
.b-4-azure, .b4azure{ border: 4px solid azure; }
.b-5-azure, .b5azure{ border: 5px solid azure; }
.b-6-azure, .b6azure{ border: 6px solid azure; }
.b-7-azure, .b7azure{ border: 7px solid azure; }
.b-8-azure, .b8azure{ border: 8px solid azure; }
.b-9-azure, .b9azure{ border: 9px solid azure; }
.b-10-azure, .b10azure{ border: 10px solid azure; }
.b-0-black, .b0black{ border: 0px solid black; }
.b-1-black, .b1black{ border: 1px solid black; }
.b-2-black, .b2black{ border: 2px solid black; }
.b-3-black, .b3black{ border: 3px solid black; }
.b-4-black, .b4black{ border: 4px solid black; }
.b-5-black, .b5black{ border: 5px solid black; }
.b-6-black, .b6black{ border: 6px solid black; }
.b-7-black, .b7black{ border: 7px solid black; }
.b-8-black, .b8black{ border: 8px solid black; }
.b-9-black, .b9black{ border: 9px solid black; }
.b-10-black, .b10black{ border: 10px solid black; }
.b-0-blue, .b0blue{ border: 0px solid blue; }
.b-1-blue, .b1blue{ border: 1px solid blue; }
.b-2-blue, .b2blue{ border: 2px solid blue; }
.b-3-blue, .b3blue{ border: 3px solid blue; }
.b-4-blue, .b4blue{ border: 4px solid blue; }
.b-5-blue, .b5blue{ border: 5px solid blue; }
.b-6-blue, .b6blue{ border: 6px solid blue; }
.b-7-blue, .b7blue{ border: 7px solid blue; }
.b-8-blue, .b8blue{ border: 8px solid blue; }
.b-9-blue, .b9blue{ border: 9px solid blue; }
.b-10-blue, .b10blue{ border: 10px solid blue; }
.b-0-cornsilk, .b0cornsilk{ border: 0px solid cornsilk; }
.b-1-cornsilk, .b1cornsilk{ border: 1px solid cornsilk; }
.b-2-cornsilk, .b2cornsilk{ border: 2px solid cornsilk; }
.b-3-cornsilk, .b3cornsilk{ border: 3px solid cornsilk; }
.b-4-cornsilk, .b4cornsilk{ border: 4px solid cornsilk; }
.b-5-cornsilk, .b5cornsilk{ border: 5px solid cornsilk; }
.b-6-cornsilk, .b6cornsilk{ border: 6px solid cornsilk; }
.b-7-cornsilk, .b7cornsilk{ border: 7px solid cornsilk; }
.b-8-cornsilk, .b8cornsilk{ border: 8px solid cornsilk; }
.b-9-cornsilk, .b9cornsilk{ border: 9px solid cornsilk; }
.b-10-cornsilk, .b10cornsilk{ border: 10px solid cornsilk; }
.b-0-darkblue, .b0darkblue{ border: 0px solid darkblue; }
.b-1-darkblue, .b1darkblue{ border: 1px solid darkblue; }
.b-2-darkblue, .b2darkblue{ border: 2px solid darkblue; }
.b-3-darkblue, .b3darkblue{ border: 3px solid darkblue; }
.b-4-darkblue, .b4darkblue{ border: 4px solid darkblue; }
.b-5-darkblue, .b5darkblue{ border: 5px solid darkblue; }
.b-6-darkblue, .b6darkblue{ border: 6px solid darkblue; }
.b-7-darkblue, .b7darkblue{ border: 7px solid darkblue; }
.b-8-darkblue, .b8darkblue{ border: 8px solid darkblue; }
.b-9-darkblue, .b9darkblue{ border: 9px solid darkblue; }
.b-10-darkblue, .b10darkblue{ border: 10px solid darkblue; }
.b-0-darkcyan, .b0darkcyan{ border: 0px solid darkcyan; }
.b-1-darkcyan, .b1darkcyan{ border: 1px solid darkcyan; }
.b-2-darkcyan, .b2darkcyan{ border: 2px solid darkcyan; }
.b-3-darkcyan, .b3darkcyan{ border: 3px solid darkcyan; }
.b-4-darkcyan, .b4darkcyan{ border: 4px solid darkcyan; }
.b-5-darkcyan, .b5darkcyan{ border: 5px solid darkcyan; }
.b-6-darkcyan, .b6darkcyan{ border: 6px solid darkcyan; }
.b-7-darkcyan, .b7darkcyan{ border: 7px solid darkcyan; }
.b-8-darkcyan, .b8darkcyan{ border: 8px solid darkcyan; }
.b-9-darkcyan, .b9darkcyan{ border: 9px solid darkcyan; }
.b-10-darkcyan, .b10darkcyan{ border: 10px solid darkcyan; }
.b-0-darkgoldenrod, .b0darkgoldenrod{ border: 0px solid darkgoldenrod; }
.b-1-darkgoldenrod, .b1darkgoldenrod{ border: 1px solid darkgoldenrod; }
.b-2-darkgoldenrod, .b2darkgoldenrod{ border: 2px solid darkgoldenrod; }
.b-3-darkgoldenrod, .b3darkgoldenrod{ border: 3px solid darkgoldenrod; }
.b-4-darkgoldenrod, .b4darkgoldenrod{ border: 4px solid darkgoldenrod; }
.b-5-darkgoldenrod, .b5darkgoldenrod{ border: 5px solid darkgoldenrod; }
.b-6-darkgoldenrod, .b6darkgoldenrod{ border: 6px solid darkgoldenrod; }
.b-7-darkgoldenrod, .b7darkgoldenrod{ border: 7px solid darkgoldenrod; }
.b-8-darkgoldenrod, .b8darkgoldenrod{ border: 8px solid darkgoldenrod; }
.b-9-darkgoldenrod, .b9darkgoldenrod{ border: 9px solid darkgoldenrod; }
.b-10-darkgoldenrod, .b10darkgoldenrod{ border: 10px solid darkgoldenrod; }
.b-0-darkgray, .b0darkgray{ border: 0px solid darkgray; }
.b-1-darkgray, .b1darkgray{ border: 1px solid darkgray; }
.b-2-darkgray, .b2darkgray{ border: 2px solid darkgray; }
.b-3-darkgray, .b3darkgray{ border: 3px solid darkgray; }
.b-4-darkgray, .b4darkgray{ border: 4px solid darkgray; }
.b-5-darkgray, .b5darkgray{ border: 5px solid darkgray; }
.b-6-darkgray, .b6darkgray{ border: 6px solid darkgray; }
.b-7-darkgray, .b7darkgray{ border: 7px solid darkgray; }
.b-8-darkgray, .b8darkgray{ border: 8px solid darkgray; }
.b-9-darkgray, .b9darkgray{ border: 9px solid darkgray; }
.b-10-darkgray, .b10darkgray{ border: 10px solid darkgray; }
.b-0-darkgreen, .b0darkgreen{ border: 0px solid darkgreen; }
.b-1-darkgreen, .b1darkgreen{ border: 1px solid darkgreen; }
.b-2-darkgreen, .b2darkgreen{ border: 2px solid darkgreen; }
.b-3-darkgreen, .b3darkgreen{ border: 3px solid darkgreen; }
.b-4-darkgreen, .b4darkgreen{ border: 4px solid darkgreen; }
.b-5-darkgreen, .b5darkgreen{ border: 5px solid darkgreen; }
.b-6-darkgreen, .b6darkgreen{ border: 6px solid darkgreen; }
.b-7-darkgreen, .b7darkgreen{ border: 7px solid darkgreen; }
.b-8-darkgreen, .b8darkgreen{ border: 8px solid darkgreen; }
.b-9-darkgreen, .b9darkgreen{ border: 9px solid darkgreen; }
.b-10-darkgreen, .b10darkgreen{ border: 10px solid darkgreen; }
.b-0-darkmagenta, .b0darkmagenta{ border: 0px solid darkmagenta; }
.b-1-darkmagenta, .b1darkmagenta{ border: 1px solid darkmagenta; }
.b-2-darkmagenta, .b2darkmagenta{ border: 2px solid darkmagenta; }
.b-3-darkmagenta, .b3darkmagenta{ border: 3px solid darkmagenta; }
.b-4-darkmagenta, .b4darkmagenta{ border: 4px solid darkmagenta; }
.b-5-darkmagenta, .b5darkmagenta{ border: 5px solid darkmagenta; }
.b-6-darkmagenta, .b6darkmagenta{ border: 6px solid darkmagenta; }
.b-7-darkmagenta, .b7darkmagenta{ border: 7px solid darkmagenta; }
.b-8-darkmagenta, .b8darkmagenta{ border: 8px solid darkmagenta; }
.b-9-darkmagenta, .b9darkmagenta{ border: 9px solid darkmagenta; }
.b-10-darkmagenta, .b10darkmagenta{ border: 10px solid darkmagenta; }
.b-0-darkorchid, .b0darkorchid{ border: 0px solid darkorchid; }
.b-1-darkorchid, .b1darkorchid{ border: 1px solid darkorchid; }
.b-2-darkorchid, .b2darkorchid{ border: 2px solid darkorchid; }
.b-3-darkorchid, .b3darkorchid{ border: 3px solid darkorchid; }
.b-4-darkorchid, .b4darkorchid{ border: 4px solid darkorchid; }
.b-5-darkorchid, .b5darkorchid{ border: 5px solid darkorchid; }
.b-6-darkorchid, .b6darkorchid{ border: 6px solid darkorchid; }
.b-7-darkorchid, .b7darkorchid{ border: 7px solid darkorchid; }
.b-8-darkorchid, .b8darkorchid{ border: 8px solid darkorchid; }
.b-9-darkorchid, .b9darkorchid{ border: 9px solid darkorchid; }
.b-10-darkorchid, .b10darkorchid{ border: 10px solid darkorchid; }
.b-0-darkred, .b0darkred{ border: 0px solid darkred; }
.b-1-darkred, .b1darkred{ border: 1px solid darkred; }
.b-2-darkred, .b2darkred{ border: 2px solid darkred; }
.b-3-darkred, .b3darkred{ border: 3px solid darkred; }
.b-4-darkred, .b4darkred{ border: 4px solid darkred; }
.b-5-darkred, .b5darkred{ border: 5px solid darkred; }
.b-6-darkred, .b6darkred{ border: 6px solid darkred; }
.b-7-darkred, .b7darkred{ border: 7px solid darkred; }
.b-8-darkred, .b8darkred{ border: 8px solid darkred; }
.b-9-darkred, .b9darkred{ border: 9px solid darkred; }
.b-10-darkred, .b10darkred{ border: 10px solid darkred; }
.b-0-deep, .b0deep{ border: 0px solid deep; }
.b-1-deep, .b1deep{ border: 1px solid deep; }
.b-2-deep, .b2deep{ border: 2px solid deep; }
.b-3-deep, .b3deep{ border: 3px solid deep; }
.b-4-deep, .b4deep{ border: 4px solid deep; }
.b-5-deep, .b5deep{ border: 5px solid deep; }
.b-6-deep, .b6deep{ border: 6px solid deep; }
.b-7-deep, .b7deep{ border: 7px solid deep; }
.b-8-deep, .b8deep{ border: 8px solid deep; }
.b-9-deep, .b9deep{ border: 9px solid deep; }
.b-10-deep, .b10deep{ border: 10px solid deep; }
.b-0-pink, .b0pink{ border: 0px solid pink; }
.b-1-pink, .b1pink{ border: 1px solid pink; }
.b-2-pink, .b2pink{ border: 2px solid pink; }
.b-3-pink, .b3pink{ border: 3px solid pink; }
.b-4-pink, .b4pink{ border: 4px solid pink; }
.b-5-pink, .b5pink{ border: 5px solid pink; }
.b-6-pink, .b6pink{ border: 6px solid pink; }
.b-7-pink, .b7pink{ border: 7px solid pink; }
.b-8-pink, .b8pink{ border: 8px solid pink; }
.b-9-pink, .b9pink{ border: 9px solid pink; }
.b-10-pink, .b10pink{ border: 10px solid pink; }
.b-0-pink, .b0pink{ border: 0px solid pink; }
.b-1-pink, .b1pink{ border: 1px solid pink; }
.b-2-pink, .b2pink{ border: 2px solid pink; }
.b-3-pink, .b3pink{ border: 3px solid pink; }
.b-4-pink, .b4pink{ border: 4px solid pink; }
.b-5-pink, .b5pink{ border: 5px solid pink; }
.b-6-pink, .b6pink{ border: 6px solid pink; }
.b-7-pink, .b7pink{ border: 7px solid pink; }
.b-8-pink, .b8pink{ border: 8px solid pink; }
.b-9-pink, .b9pink{ border: 9px solid pink; }
.b-10-pink, .b10pink{ border: 10px solid pink; }
.b-0-firebrick, .b0firebrick{ border: 0px solid firebrick; }
.b-1-firebrick, .b1firebrick{ border: 1px solid firebrick; }
.b-2-firebrick, .b2firebrick{ border: 2px solid firebrick; }
.b-3-firebrick, .b3firebrick{ border: 3px solid firebrick; }
.b-4-firebrick, .b4firebrick{ border: 4px solid firebrick; }
.b-5-firebrick, .b5firebrick{ border: 5px solid firebrick; }
.b-6-firebrick, .b6firebrick{ border: 6px solid firebrick; }
.b-7-firebrick, .b7firebrick{ border: 7px solid firebrick; }
.b-8-firebrick, .b8firebrick{ border: 8px solid firebrick; }
.b-9-firebrick, .b9firebrick{ border: 9px solid firebrick; }
.b-10-firebrick, .b10firebrick{ border: 10px solid firebrick; }
.b-0-floralwhite, .b0floralwhite{ border: 0px solid floralwhite; }
.b-1-floralwhite, .b1floralwhite{ border: 1px solid floralwhite; }
.b-2-floralwhite, .b2floralwhite{ border: 2px solid floralwhite; }
.b-3-floralwhite, .b3floralwhite{ border: 3px solid floralwhite; }
.b-4-floralwhite, .b4floralwhite{ border: 4px solid floralwhite; }
.b-5-floralwhite, .b5floralwhite{ border: 5px solid floralwhite; }
.b-6-floralwhite, .b6floralwhite{ border: 6px solid floralwhite; }
.b-7-floralwhite, .b7floralwhite{ border: 7px solid floralwhite; }
.b-8-floralwhite, .b8floralwhite{ border: 8px solid floralwhite; }
.b-9-floralwhite, .b9floralwhite{ border: 9px solid floralwhite; }
.b-10-floralwhite, .b10floralwhite{ border: 10px solid floralwhite; }
.b-0-forestgreen, .b0forestgreen{ border: 0px solid forestgreen; }
.b-1-forestgreen, .b1forestgreen{ border: 1px solid forestgreen; }
.b-2-forestgreen, .b2forestgreen{ border: 2px solid forestgreen; }
.b-3-forestgreen, .b3forestgreen{ border: 3px solid forestgreen; }
.b-4-forestgreen, .b4forestgreen{ border: 4px solid forestgreen; }
.b-5-forestgreen, .b5forestgreen{ border: 5px solid forestgreen; }
.b-6-forestgreen, .b6forestgreen{ border: 6px solid forestgreen; }
.b-7-forestgreen, .b7forestgreen{ border: 7px solid forestgreen; }
.b-8-forestgreen, .b8forestgreen{ border: 8px solid forestgreen; }
.b-9-forestgreen, .b9forestgreen{ border: 9px solid forestgreen; }
.b-10-forestgreen, .b10forestgreen{ border: 10px solid forestgreen; }
.b-0-magenta, .b0magenta{ border: 0px solid magenta; }
.b-1-magenta, .b1magenta{ border: 1px solid magenta; }
.b-2-magenta, .b2magenta{ border: 2px solid magenta; }
.b-3-magenta, .b3magenta{ border: 3px solid magenta; }
.b-4-magenta, .b4magenta{ border: 4px solid magenta; }
.b-5-magenta, .b5magenta{ border: 5px solid magenta; }
.b-6-magenta, .b6magenta{ border: 6px solid magenta; }
.b-7-magenta, .b7magenta{ border: 7px solid magenta; }
.b-8-magenta, .b8magenta{ border: 8px solid magenta; }
.b-9-magenta, .b9magenta{ border: 9px solid magenta; }
.b-10-magenta, .b10magenta{ border: 10px solid magenta; }
.b-0-gainsboro, .b0gainsboro{ border: 0px solid gainsboro; }
.b-1-gainsboro, .b1gainsboro{ border: 1px solid gainsboro; }
.b-2-gainsboro, .b2gainsboro{ border: 2px solid gainsboro; }
.b-3-gainsboro, .b3gainsboro{ border: 3px solid gainsboro; }
.b-4-gainsboro, .b4gainsboro{ border: 4px solid gainsboro; }
.b-5-gainsboro, .b5gainsboro{ border: 5px solid gainsboro; }
.b-6-gainsboro, .b6gainsboro{ border: 6px solid gainsboro; }
.b-7-gainsboro, .b7gainsboro{ border: 7px solid gainsboro; }
.b-8-gainsboro, .b8gainsboro{ border: 8px solid gainsboro; }
.b-9-gainsboro, .b9gainsboro{ border: 9px solid gainsboro; }
.b-10-gainsboro, .b10gainsboro{ border: 10px solid gainsboro; }
.b-0-ghostwhite, .b0ghostwhite{ border: 0px solid ghostwhite; }
.b-1-ghostwhite, .b1ghostwhite{ border: 1px solid ghostwhite; }
.b-2-ghostwhite, .b2ghostwhite{ border: 2px solid ghostwhite; }
.b-3-ghostwhite, .b3ghostwhite{ border: 3px solid ghostwhite; }
.b-4-ghostwhite, .b4ghostwhite{ border: 4px solid ghostwhite; }
.b-5-ghostwhite, .b5ghostwhite{ border: 5px solid ghostwhite; }
.b-6-ghostwhite, .b6ghostwhite{ border: 6px solid ghostwhite; }
.b-7-ghostwhite, .b7ghostwhite{ border: 7px solid ghostwhite; }
.b-8-ghostwhite, .b8ghostwhite{ border: 8px solid ghostwhite; }
.b-9-ghostwhite, .b9ghostwhite{ border: 9px solid ghostwhite; }
.b-10-ghostwhite, .b10ghostwhite{ border: 10px solid ghostwhite; }
.b-0-gold, .b0gold{ border: 0px solid gold; }
.b-1-gold, .b1gold{ border: 1px solid gold; }
.b-2-gold, .b2gold{ border: 2px solid gold; }
.b-3-gold, .b3gold{ border: 3px solid gold; }
.b-4-gold, .b4gold{ border: 4px solid gold; }
.b-5-gold, .b5gold{ border: 5px solid gold; }
.b-6-gold, .b6gold{ border: 6px solid gold; }
.b-7-gold, .b7gold{ border: 7px solid gold; }
.b-8-gold, .b8gold{ border: 8px solid gold; }
.b-9-gold, .b9gold{ border: 9px solid gold; }
.b-10-gold, .b10gold{ border: 10px solid gold; }
.b-0-goldenrod, .b0goldenrod{ border: 0px solid goldenrod; }
.b-1-goldenrod, .b1goldenrod{ border: 1px solid goldenrod; }
.b-2-goldenrod, .b2goldenrod{ border: 2px solid goldenrod; }
.b-3-goldenrod, .b3goldenrod{ border: 3px solid goldenrod; }
.b-4-goldenrod, .b4goldenrod{ border: 4px solid goldenrod; }
.b-5-goldenrod, .b5goldenrod{ border: 5px solid goldenrod; }
.b-6-goldenrod, .b6goldenrod{ border: 6px solid goldenrod; }
.b-7-goldenrod, .b7goldenrod{ border: 7px solid goldenrod; }
.b-8-goldenrod, .b8goldenrod{ border: 8px solid goldenrod; }
.b-9-goldenrod, .b9goldenrod{ border: 9px solid goldenrod; }
.b-10-goldenrod, .b10goldenrod{ border: 10px solid goldenrod; }
.b-0-green, .b0green{ border: 0px solid green; }
.b-1-green, .b1green{ border: 1px solid green; }
.b-2-green, .b2green{ border: 2px solid green; }
.b-3-green, .b3green{ border: 3px solid green; }
.b-4-green, .b4green{ border: 4px solid green; }
.b-5-green, .b5green{ border: 5px solid green; }
.b-6-green, .b6green{ border: 6px solid green; }
.b-7-green, .b7green{ border: 7px solid green; }
.b-8-green, .b8green{ border: 8px solid green; }
.b-9-green, .b9green{ border: 9px solid green; }
.b-10-green, .b10green{ border: 10px solid green; }
.b-0-greenyellow, .b0greenyellow{ border: 0px solid greenyellow; }
.b-1-greenyellow, .b1greenyellow{ border: 1px solid greenyellow; }
.b-2-greenyellow, .b2greenyellow{ border: 2px solid greenyellow; }
.b-3-greenyellow, .b3greenyellow{ border: 3px solid greenyellow; }
.b-4-greenyellow, .b4greenyellow{ border: 4px solid greenyellow; }
.b-5-greenyellow, .b5greenyellow{ border: 5px solid greenyellow; }
.b-6-greenyellow, .b6greenyellow{ border: 6px solid greenyellow; }
.b-7-greenyellow, .b7greenyellow{ border: 7px solid greenyellow; }
.b-8-greenyellow, .b8greenyellow{ border: 8px solid greenyellow; }
.b-9-greenyellow, .b9greenyellow{ border: 9px solid greenyellow; }
.b-10-greenyellow, .b10greenyellow{ border: 10px solid greenyellow; }
.b-0-honeydew, .b0honeydew{ border: 0px solid honeydew; }
.b-1-honeydew, .b1honeydew{ border: 1px solid honeydew; }
.b-2-honeydew, .b2honeydew{ border: 2px solid honeydew; }
.b-3-honeydew, .b3honeydew{ border: 3px solid honeydew; }
.b-4-honeydew, .b4honeydew{ border: 4px solid honeydew; }
.b-5-honeydew, .b5honeydew{ border: 5px solid honeydew; }
.b-6-honeydew, .b6honeydew{ border: 6px solid honeydew; }
.b-7-honeydew, .b7honeydew{ border: 7px solid honeydew; }
.b-8-honeydew, .b8honeydew{ border: 8px solid honeydew; }
.b-9-honeydew, .b9honeydew{ border: 9px solid honeydew; }
.b-10-honeydew, .b10honeydew{ border: 10px solid honeydew; }
.b-0-hotpink, .b0hotpink{ border: 0px solid hotpink; }
.b-1-hotpink, .b1hotpink{ border: 1px solid hotpink; }
.b-2-hotpink, .b2hotpink{ border: 2px solid hotpink; }
.b-3-hotpink, .b3hotpink{ border: 3px solid hotpink; }
.b-4-hotpink, .b4hotpink{ border: 4px solid hotpink; }
.b-5-hotpink, .b5hotpink{ border: 5px solid hotpink; }
.b-6-hotpink, .b6hotpink{ border: 6px solid hotpink; }
.b-7-hotpink, .b7hotpink{ border: 7px solid hotpink; }
.b-8-hotpink, .b8hotpink{ border: 8px solid hotpink; }
.b-9-hotpink, .b9hotpink{ border: 9px solid hotpink; }
.b-10-hotpink, .b10hotpink{ border: 10px solid hotpink; }
.b-0-indianred, .b0indianred{ border: 0px solid indianred; }
.b-1-indianred, .b1indianred{ border: 1px solid indianred; }
.b-2-indianred, .b2indianred{ border: 2px solid indianred; }
.b-3-indianred, .b3indianred{ border: 3px solid indianred; }
.b-4-indianred, .b4indianred{ border: 4px solid indianred; }
.b-5-indianred, .b5indianred{ border: 5px solid indianred; }
.b-6-indianred, .b6indianred{ border: 6px solid indianred; }
.b-7-indianred, .b7indianred{ border: 7px solid indianred; }
.b-8-indianred, .b8indianred{ border: 8px solid indianred; }
.b-9-indianred, .b9indianred{ border: 9px solid indianred; }
.b-10-indianred, .b10indianred{ border: 10px solid indianred; }
.b-0-indigo, .b0indigo{ border: 0px solid indigo; }
.b-1-indigo, .b1indigo{ border: 1px solid indigo; }
.b-2-indigo, .b2indigo{ border: 2px solid indigo; }
.b-3-indigo, .b3indigo{ border: 3px solid indigo; }
.b-4-indigo, .b4indigo{ border: 4px solid indigo; }
.b-5-indigo, .b5indigo{ border: 5px solid indigo; }
.b-6-indigo, .b6indigo{ border: 6px solid indigo; }
.b-7-indigo, .b7indigo{ border: 7px solid indigo; }
.b-8-indigo, .b8indigo{ border: 8px solid indigo; }
.b-9-indigo, .b9indigo{ border: 9px solid indigo; }
.b-10-indigo, .b10indigo{ border: 10px solid indigo; }
.b-0-ivory, .b0ivory{ border: 0px solid ivory; }
.b-1-ivory, .b1ivory{ border: 1px solid ivory; }
.b-2-ivory, .b2ivory{ border: 2px solid ivory; }
.b-3-ivory, .b3ivory{ border: 3px solid ivory; }
.b-4-ivory, .b4ivory{ border: 4px solid ivory; }
.b-5-ivory, .b5ivory{ border: 5px solid ivory; }
.b-6-ivory, .b6ivory{ border: 6px solid ivory; }
.b-7-ivory, .b7ivory{ border: 7px solid ivory; }
.b-8-ivory, .b8ivory{ border: 8px solid ivory; }
.b-9-ivory, .b9ivory{ border: 9px solid ivory; }
.b-10-ivory, .b10ivory{ border: 10px solid ivory; }
.b-0-khaki, .b0khaki{ border: 0px solid khaki; }
.b-1-khaki, .b1khaki{ border: 1px solid khaki; }
.b-2-khaki, .b2khaki{ border: 2px solid khaki; }
.b-3-khaki, .b3khaki{ border: 3px solid khaki; }
.b-4-khaki, .b4khaki{ border: 4px solid khaki; }
.b-5-khaki, .b5khaki{ border: 5px solid khaki; }
.b-6-khaki, .b6khaki{ border: 6px solid khaki; }
.b-7-khaki, .b7khaki{ border: 7px solid khaki; }
.b-8-khaki, .b8khaki{ border: 8px solid khaki; }
.b-9-khaki, .b9khaki{ border: 9px solid khaki; }
.b-10-khaki, .b10khaki{ border: 10px solid khaki; }
.b-0-lavender, .b0lavender{ border: 0px solid lavender; }
.b-1-lavender, .b1lavender{ border: 1px solid lavender; }
.b-2-lavender, .b2lavender{ border: 2px solid lavender; }
.b-3-lavender, .b3lavender{ border: 3px solid lavender; }
.b-4-lavender, .b4lavender{ border: 4px solid lavender; }
.b-5-lavender, .b5lavender{ border: 5px solid lavender; }
.b-6-lavender, .b6lavender{ border: 6px solid lavender; }
.b-7-lavender, .b7lavender{ border: 7px solid lavender; }
.b-8-lavender, .b8lavender{ border: 8px solid lavender; }
.b-9-lavender, .b9lavender{ border: 9px solid lavender; }
.b-10-lavender, .b10lavender{ border: 10px solid lavender; }
.b-0-lavenderblush, .b0lavenderblush{ border: 0px solid lavenderblush; }
.b-1-lavenderblush, .b1lavenderblush{ border: 1px solid lavenderblush; }
.b-2-lavenderblush, .b2lavenderblush{ border: 2px solid lavenderblush; }
.b-3-lavenderblush, .b3lavenderblush{ border: 3px solid lavenderblush; }
.b-4-lavenderblush, .b4lavenderblush{ border: 4px solid lavenderblush; }
.b-5-lavenderblush, .b5lavenderblush{ border: 5px solid lavenderblush; }
.b-6-lavenderblush, .b6lavenderblush{ border: 6px solid lavenderblush; }
.b-7-lavenderblush, .b7lavenderblush{ border: 7px solid lavenderblush; }
.b-8-lavenderblush, .b8lavenderblush{ border: 8px solid lavenderblush; }
.b-9-lavenderblush, .b9lavenderblush{ border: 9px solid lavenderblush; }
.b-10-lavenderblush, .b10lavenderblush{ border: 10px solid lavenderblush; }
.b-0-lawngreen, .b0lawngreen{ border: 0px solid lawngreen; }
.b-1-lawngreen, .b1lawngreen{ border: 1px solid lawngreen; }
.b-2-lawngreen, .b2lawngreen{ border: 2px solid lawngreen; }
.b-3-lawngreen, .b3lawngreen{ border: 3px solid lawngreen; }
.b-4-lawngreen, .b4lawngreen{ border: 4px solid lawngreen; }
.b-5-lawngreen, .b5lawngreen{ border: 5px solid lawngreen; }
.b-6-lawngreen, .b6lawngreen{ border: 6px solid lawngreen; }
.b-7-lawngreen, .b7lawngreen{ border: 7px solid lawngreen; }
.b-8-lawngreen, .b8lawngreen{ border: 8px solid lawngreen; }
.b-9-lawngreen, .b9lawngreen{ border: 9px solid lawngreen; }
.b-10-lawngreen, .b10lawngreen{ border: 10px solid lawngreen; }
.b-0-lightblue, .b0lightblue{ border: 0px solid lightblue; }
.b-1-lightblue, .b1lightblue{ border: 1px solid lightblue; }
.b-2-lightblue, .b2lightblue{ border: 2px solid lightblue; }
.b-3-lightblue, .b3lightblue{ border: 3px solid lightblue; }
.b-4-lightblue, .b4lightblue{ border: 4px solid lightblue; }
.b-5-lightblue, .b5lightblue{ border: 5px solid lightblue; }
.b-6-lightblue, .b6lightblue{ border: 6px solid lightblue; }
.b-7-lightblue, .b7lightblue{ border: 7px solid lightblue; }
.b-8-lightblue, .b8lightblue{ border: 8px solid lightblue; }
.b-9-lightblue, .b9lightblue{ border: 9px solid lightblue; }
.b-10-lightblue, .b10lightblue{ border: 10px solid lightblue; }
.b-0-lightcoral, .b0lightcoral{ border: 0px solid lightcoral; }
.b-1-lightcoral, .b1lightcoral{ border: 1px solid lightcoral; }
.b-2-lightcoral, .b2lightcoral{ border: 2px solid lightcoral; }
.b-3-lightcoral, .b3lightcoral{ border: 3px solid lightcoral; }
.b-4-lightcoral, .b4lightcoral{ border: 4px solid lightcoral; }
.b-5-lightcoral, .b5lightcoral{ border: 5px solid lightcoral; }
.b-6-lightcoral, .b6lightcoral{ border: 6px solid lightcoral; }
.b-7-lightcoral, .b7lightcoral{ border: 7px solid lightcoral; }
.b-8-lightcoral, .b8lightcoral{ border: 8px solid lightcoral; }
.b-9-lightcoral, .b9lightcoral{ border: 9px solid lightcoral; }
.b-10-lightcoral, .b10lightcoral{ border: 10px solid lightcoral; }
.b-0-lightcyan, .b0lightcyan{ border: 0px solid lightcyan; }
.b-1-lightcyan, .b1lightcyan{ border: 1px solid lightcyan; }
.b-2-lightcyan, .b2lightcyan{ border: 2px solid lightcyan; }
.b-3-lightcyan, .b3lightcyan{ border: 3px solid lightcyan; }
.b-4-lightcyan, .b4lightcyan{ border: 4px solid lightcyan; }
.b-5-lightcyan, .b5lightcyan{ border: 5px solid lightcyan; }
.b-6-lightcyan, .b6lightcyan{ border: 6px solid lightcyan; }
.b-7-lightcyan, .b7lightcyan{ border: 7px solid lightcyan; }
.b-8-lightcyan, .b8lightcyan{ border: 8px solid lightcyan; }
.b-9-lightcyan, .b9lightcyan{ border: 9px solid lightcyan; }
.b-10-lightcyan, .b10lightcyan{ border: 10px solid lightcyan; }
.b-0-lightgoldenrodyellow, .b0lightgoldenrodyellow{ border: 0px solid lightgoldenrodyellow; }
.b-1-lightgoldenrodyellow, .b1lightgoldenrodyellow{ border: 1px solid lightgoldenrodyellow; }
.b-2-lightgoldenrodyellow, .b2lightgoldenrodyellow{ border: 2px solid lightgoldenrodyellow; }
.b-3-lightgoldenrodyellow, .b3lightgoldenrodyellow{ border: 3px solid lightgoldenrodyellow; }
.b-4-lightgoldenrodyellow, .b4lightgoldenrodyellow{ border: 4px solid lightgoldenrodyellow; }
.b-5-lightgoldenrodyellow, .b5lightgoldenrodyellow{ border: 5px solid lightgoldenrodyellow; }
.b-6-lightgoldenrodyellow, .b6lightgoldenrodyellow{ border: 6px solid lightgoldenrodyellow; }
.b-7-lightgoldenrodyellow, .b7lightgoldenrodyellow{ border: 7px solid lightgoldenrodyellow; }
.b-8-lightgoldenrodyellow, .b8lightgoldenrodyellow{ border: 8px solid lightgoldenrodyellow; }
.b-9-lightgoldenrodyellow, .b9lightgoldenrodyellow{ border: 9px solid lightgoldenrodyellow; }
.b-10-lightgoldenrodyellow, .b10lightgoldenrodyellow{ border: 10px solid lightgoldenrodyellow; }
.b-0-lightgray, .b0lightgray{ border: 0px solid lightgray; }
.b-1-lightgray, .b1lightgray{ border: 1px solid lightgray; }
.b-2-lightgray, .b2lightgray{ border: 2px solid lightgray; }
.b-3-lightgray, .b3lightgray{ border: 3px solid lightgray; }
.b-4-lightgray, .b4lightgray{ border: 4px solid lightgray; }
.b-5-lightgray, .b5lightgray{ border: 5px solid lightgray; }
.b-6-lightgray, .b6lightgray{ border: 6px solid lightgray; }
.b-7-lightgray, .b7lightgray{ border: 7px solid lightgray; }
.b-8-lightgray, .b8lightgray{ border: 8px solid lightgray; }
.b-9-lightgray, .b9lightgray{ border: 9px solid lightgray; }
.b-10-lightgray, .b10lightgray{ border: 10px solid lightgray; }
.b-0-lightgreen, .b0lightgreen{ border: 0px solid lightgreen; }
.b-1-lightgreen, .b1lightgreen{ border: 1px solid lightgreen; }
.b-2-lightgreen, .b2lightgreen{ border: 2px solid lightgreen; }
.b-3-lightgreen, .b3lightgreen{ border: 3px solid lightgreen; }
.b-4-lightgreen, .b4lightgreen{ border: 4px solid lightgreen; }
.b-5-lightgreen, .b5lightgreen{ border: 5px solid lightgreen; }
.b-6-lightgreen, .b6lightgreen{ border: 6px solid lightgreen; }
.b-7-lightgreen, .b7lightgreen{ border: 7px solid lightgreen; }
.b-8-lightgreen, .b8lightgreen{ border: 8px solid lightgreen; }
.b-9-lightgreen, .b9lightgreen{ border: 9px solid lightgreen; }
.b-10-lightgreen, .b10lightgreen{ border: 10px solid lightgreen; }
.b-0-lightpink, .b0lightpink{ border: 0px solid lightpink; }
.b-1-lightpink, .b1lightpink{ border: 1px solid lightpink; }
.b-2-lightpink, .b2lightpink{ border: 2px solid lightpink; }
.b-3-lightpink, .b3lightpink{ border: 3px solid lightpink; }
.b-4-lightpink, .b4lightpink{ border: 4px solid lightpink; }
.b-5-lightpink, .b5lightpink{ border: 5px solid lightpink; }
.b-6-lightpink, .b6lightpink{ border: 6px solid lightpink; }
.b-7-lightpink, .b7lightpink{ border: 7px solid lightpink; }
.b-8-lightpink, .b8lightpink{ border: 8px solid lightpink; }
.b-9-lightpink, .b9lightpink{ border: 9px solid lightpink; }
.b-10-lightpink, .b10lightpink{ border: 10px solid lightpink; }
.b-0-lightslategray, .b0lightslategray{ border: 0px solid lightslategray; }
.b-1-lightslategray, .b1lightslategray{ border: 1px solid lightslategray; }
.b-2-lightslategray, .b2lightslategray{ border: 2px solid lightslategray; }
.b-3-lightslategray, .b3lightslategray{ border: 3px solid lightslategray; }
.b-4-lightslategray, .b4lightslategray{ border: 4px solid lightslategray; }
.b-5-lightslategray, .b5lightslategray{ border: 5px solid lightslategray; }
.b-6-lightslategray, .b6lightslategray{ border: 6px solid lightslategray; }
.b-7-lightslategray, .b7lightslategray{ border: 7px solid lightslategray; }
.b-8-lightslategray, .b8lightslategray{ border: 8px solid lightslategray; }
.b-9-lightslategray, .b9lightslategray{ border: 9px solid lightslategray; }
.b-10-lightslategray, .b10lightslategray{ border: 10px solid lightslategray; }
.b-0-lightsteelblue, .b0lightsteelblue{ border: 0px solid lightsteelblue; }
.b-1-lightsteelblue, .b1lightsteelblue{ border: 1px solid lightsteelblue; }
.b-2-lightsteelblue, .b2lightsteelblue{ border: 2px solid lightsteelblue; }
.b-3-lightsteelblue, .b3lightsteelblue{ border: 3px solid lightsteelblue; }
.b-4-lightsteelblue, .b4lightsteelblue{ border: 4px solid lightsteelblue; }
.b-5-lightsteelblue, .b5lightsteelblue{ border: 5px solid lightsteelblue; }
.b-6-lightsteelblue, .b6lightsteelblue{ border: 6px solid lightsteelblue; }
.b-7-lightsteelblue, .b7lightsteelblue{ border: 7px solid lightsteelblue; }
.b-8-lightsteelblue, .b8lightsteelblue{ border: 8px solid lightsteelblue; }
.b-9-lightsteelblue, .b9lightsteelblue{ border: 9px solid lightsteelblue; }
.b-10-lightsteelblue, .b10lightsteelblue{ border: 10px solid lightsteelblue; }
.b-0-lime, .b0lime{ border: 0px solid lime; }
.b-1-lime, .b1lime{ border: 1px solid lime; }
.b-2-lime, .b2lime{ border: 2px solid lime; }
.b-3-lime, .b3lime{ border: 3px solid lime; }
.b-4-lime, .b4lime{ border: 4px solid lime; }
.b-5-lime, .b5lime{ border: 5px solid lime; }
.b-6-lime, .b6lime{ border: 6px solid lime; }
.b-7-lime, .b7lime{ border: 7px solid lime; }
.b-8-lime, .b8lime{ border: 8px solid lime; }
.b-9-lime, .b9lime{ border: 9px solid lime; }
.b-10-lime, .b10lime{ border: 10px solid lime; }
.b-0-limegreen, .b0limegreen{ border: 0px solid limegreen; }
.b-1-limegreen, .b1limegreen{ border: 1px solid limegreen; }
.b-2-limegreen, .b2limegreen{ border: 2px solid limegreen; }
.b-3-limegreen, .b3limegreen{ border: 3px solid limegreen; }
.b-4-limegreen, .b4limegreen{ border: 4px solid limegreen; }
.b-5-limegreen, .b5limegreen{ border: 5px solid limegreen; }
.b-6-limegreen, .b6limegreen{ border: 6px solid limegreen; }
.b-7-limegreen, .b7limegreen{ border: 7px solid limegreen; }
.b-8-limegreen, .b8limegreen{ border: 8px solid limegreen; }
.b-9-limegreen, .b9limegreen{ border: 9px solid limegreen; }
.b-10-limegreen, .b10limegreen{ border: 10px solid limegreen; }
.b-0-magenta, .b0magenta{ border: 0px solid magenta; }
.b-1-magenta, .b1magenta{ border: 1px solid magenta; }
.b-2-magenta, .b2magenta{ border: 2px solid magenta; }
.b-3-magenta, .b3magenta{ border: 3px solid magenta; }
.b-4-magenta, .b4magenta{ border: 4px solid magenta; }
.b-5-magenta, .b5magenta{ border: 5px solid magenta; }
.b-6-magenta, .b6magenta{ border: 6px solid magenta; }
.b-7-magenta, .b7magenta{ border: 7px solid magenta; }
.b-8-magenta, .b8magenta{ border: 8px solid magenta; }
.b-9-magenta, .b9magenta{ border: 9px solid magenta; }
.b-10-magenta, .b10magenta{ border: 10px solid magenta; }
.b-0-maroon, .b0maroon{ border: 0px solid maroon; }
.b-1-maroon, .b1maroon{ border: 1px solid maroon; }
.b-2-maroon, .b2maroon{ border: 2px solid maroon; }
.b-3-maroon, .b3maroon{ border: 3px solid maroon; }
.b-4-maroon, .b4maroon{ border: 4px solid maroon; }
.b-5-maroon, .b5maroon{ border: 5px solid maroon; }
.b-6-maroon, .b6maroon{ border: 6px solid maroon; }
.b-7-maroon, .b7maroon{ border: 7px solid maroon; }
.b-8-maroon, .b8maroon{ border: 8px solid maroon; }
.b-9-maroon, .b9maroon{ border: 9px solid maroon; }
.b-10-maroon, .b10maroon{ border: 10px solid maroon; }
.b-0-mediumblue, .b0mediumblue{ border: 0px solid mediumblue; }
.b-1-mediumblue, .b1mediumblue{ border: 1px solid mediumblue; }
.b-2-mediumblue, .b2mediumblue{ border: 2px solid mediumblue; }
.b-3-mediumblue, .b3mediumblue{ border: 3px solid mediumblue; }
.b-4-mediumblue, .b4mediumblue{ border: 4px solid mediumblue; }
.b-5-mediumblue, .b5mediumblue{ border: 5px solid mediumblue; }
.b-6-mediumblue, .b6mediumblue{ border: 6px solid mediumblue; }
.b-7-mediumblue, .b7mediumblue{ border: 7px solid mediumblue; }
.b-8-mediumblue, .b8mediumblue{ border: 8px solid mediumblue; }
.b-9-mediumblue, .b9mediumblue{ border: 9px solid mediumblue; }
.b-10-mediumblue, .b10mediumblue{ border: 10px solid mediumblue; }
.b-0-mediumspringgreen, .b0mediumspringgreen{ border: 0px solid mediumspringgreen; }
.b-1-mediumspringgreen, .b1mediumspringgreen{ border: 1px solid mediumspringgreen; }
.b-2-mediumspringgreen, .b2mediumspringgreen{ border: 2px solid mediumspringgreen; }
.b-3-mediumspringgreen, .b3mediumspringgreen{ border: 3px solid mediumspringgreen; }
.b-4-mediumspringgreen, .b4mediumspringgreen{ border: 4px solid mediumspringgreen; }
.b-5-mediumspringgreen, .b5mediumspringgreen{ border: 5px solid mediumspringgreen; }
.b-6-mediumspringgreen, .b6mediumspringgreen{ border: 6px solid mediumspringgreen; }
.b-7-mediumspringgreen, .b7mediumspringgreen{ border: 7px solid mediumspringgreen; }
.b-8-mediumspringgreen, .b8mediumspringgreen{ border: 8px solid mediumspringgreen; }
.b-9-mediumspringgreen, .b9mediumspringgreen{ border: 9px solid mediumspringgreen; }
.b-10-mediumspringgreen, .b10mediumspringgreen{ border: 10px solid mediumspringgreen; }
.b-0-mintcream, .b0mintcream{ border: 0px solid mintcream; }
.b-1-mintcream, .b1mintcream{ border: 1px solid mintcream; }
.b-2-mintcream, .b2mintcream{ border: 2px solid mintcream; }
.b-3-mintcream, .b3mintcream{ border: 3px solid mintcream; }
.b-4-mintcream, .b4mintcream{ border: 4px solid mintcream; }
.b-5-mintcream, .b5mintcream{ border: 5px solid mintcream; }
.b-6-mintcream, .b6mintcream{ border: 6px solid mintcream; }
.b-7-mintcream, .b7mintcream{ border: 7px solid mintcream; }
.b-8-mintcream, .b8mintcream{ border: 8px solid mintcream; }
.b-9-mintcream, .b9mintcream{ border: 9px solid mintcream; }
.b-10-mintcream, .b10mintcream{ border: 10px solid mintcream; }
.b-0-mistyrose, .b0mistyrose{ border: 0px solid mistyrose; }
.b-1-mistyrose, .b1mistyrose{ border: 1px solid mistyrose; }
.b-2-mistyrose, .b2mistyrose{ border: 2px solid mistyrose; }
.b-3-mistyrose, .b3mistyrose{ border: 3px solid mistyrose; }
.b-4-mistyrose, .b4mistyrose{ border: 4px solid mistyrose; }
.b-5-mistyrose, .b5mistyrose{ border: 5px solid mistyrose; }
.b-6-mistyrose, .b6mistyrose{ border: 6px solid mistyrose; }
.b-7-mistyrose, .b7mistyrose{ border: 7px solid mistyrose; }
.b-8-mistyrose, .b8mistyrose{ border: 8px solid mistyrose; }
.b-9-mistyrose, .b9mistyrose{ border: 9px solid mistyrose; }
.b-10-mistyrose, .b10mistyrose{ border: 10px solid mistyrose; }
.b-0-moccasin, .b0moccasin{ border: 0px solid moccasin; }
.b-1-moccasin, .b1moccasin{ border: 1px solid moccasin; }
.b-2-moccasin, .b2moccasin{ border: 2px solid moccasin; }
.b-3-moccasin, .b3moccasin{ border: 3px solid moccasin; }
.b-4-moccasin, .b4moccasin{ border: 4px solid moccasin; }
.b-5-moccasin, .b5moccasin{ border: 5px solid moccasin; }
.b-6-moccasin, .b6moccasin{ border: 6px solid moccasin; }
.b-7-moccasin, .b7moccasin{ border: 7px solid moccasin; }
.b-8-moccasin, .b8moccasin{ border: 8px solid moccasin; }
.b-9-moccasin, .b9moccasin{ border: 9px solid moccasin; }
.b-10-moccasin, .b10moccasin{ border: 10px solid moccasin; }
.b-0-navajowhite, .b0navajowhite{ border: 0px solid navajowhite; }
.b-1-navajowhite, .b1navajowhite{ border: 1px solid navajowhite; }
.b-2-navajowhite, .b2navajowhite{ border: 2px solid navajowhite; }
.b-3-navajowhite, .b3navajowhite{ border: 3px solid navajowhite; }
.b-4-navajowhite, .b4navajowhite{ border: 4px solid navajowhite; }
.b-5-navajowhite, .b5navajowhite{ border: 5px solid navajowhite; }
.b-6-navajowhite, .b6navajowhite{ border: 6px solid navajowhite; }
.b-7-navajowhite, .b7navajowhite{ border: 7px solid navajowhite; }
.b-8-navajowhite, .b8navajowhite{ border: 8px solid navajowhite; }
.b-9-navajowhite, .b9navajowhite{ border: 9px solid navajowhite; }
.b-10-navajowhite, .b10navajowhite{ border: 10px solid navajowhite; }
.b-0-olive, .b0olive{ border: 0px solid olive; }
.b-1-olive, .b1olive{ border: 1px solid olive; }
.b-2-olive, .b2olive{ border: 2px solid olive; }
.b-3-olive, .b3olive{ border: 3px solid olive; }
.b-4-olive, .b4olive{ border: 4px solid olive; }
.b-5-olive, .b5olive{ border: 5px solid olive; }
.b-6-olive, .b6olive{ border: 6px solid olive; }
.b-7-olive, .b7olive{ border: 7px solid olive; }
.b-8-olive, .b8olive{ border: 8px solid olive; }
.b-9-olive, .b9olive{ border: 9px solid olive; }
.b-10-olive, .b10olive{ border: 10px solid olive; }
.b-0-oldlace, .b0oldlace{ border: 0px solid oldlace; }
.b-1-oldlace, .b1oldlace{ border: 1px solid oldlace; }
.b-2-oldlace, .b2oldlace{ border: 2px solid oldlace; }
.b-3-oldlace, .b3oldlace{ border: 3px solid oldlace; }
.b-4-oldlace, .b4oldlace{ border: 4px solid oldlace; }
.b-5-oldlace, .b5oldlace{ border: 5px solid oldlace; }
.b-6-oldlace, .b6oldlace{ border: 6px solid oldlace; }
.b-7-oldlace, .b7oldlace{ border: 7px solid oldlace; }
.b-8-oldlace, .b8oldlace{ border: 8px solid oldlace; }
.b-9-oldlace, .b9oldlace{ border: 9px solid oldlace; }
.b-10-oldlace, .b10oldlace{ border: 10px solid oldlace; }
.b-0-olivedrab, .b0olivedrab{ border: 0px solid olivedrab; }
.b-1-olivedrab, .b1olivedrab{ border: 1px solid olivedrab; }
.b-2-olivedrab, .b2olivedrab{ border: 2px solid olivedrab; }
.b-3-olivedrab, .b3olivedrab{ border: 3px solid olivedrab; }
.b-4-olivedrab, .b4olivedrab{ border: 4px solid olivedrab; }
.b-5-olivedrab, .b5olivedrab{ border: 5px solid olivedrab; }
.b-6-olivedrab, .b6olivedrab{ border: 6px solid olivedrab; }
.b-7-olivedrab, .b7olivedrab{ border: 7px solid olivedrab; }
.b-8-olivedrab, .b8olivedrab{ border: 8px solid olivedrab; }
.b-9-olivedrab, .b9olivedrab{ border: 9px solid olivedrab; }
.b-10-olivedrab, .b10olivedrab{ border: 10px solid olivedrab; }
.b-0-orangered, .b0orangered{ border: 0px solid orangered; }
.b-1-orangered, .b1orangered{ border: 1px solid orangered; }
.b-2-orangered, .b2orangered{ border: 2px solid orangered; }
.b-3-orangered, .b3orangered{ border: 3px solid orangered; }
.b-4-orangered, .b4orangered{ border: 4px solid orangered; }
.b-5-orangered, .b5orangered{ border: 5px solid orangered; }
.b-6-orangered, .b6orangered{ border: 6px solid orangered; }
.b-7-orangered, .b7orangered{ border: 7px solid orangered; }
.b-8-orangered, .b8orangered{ border: 8px solid orangered; }
.b-9-orangered, .b9orangered{ border: 9px solid orangered; }
.b-10-orangered, .b10orangered{ border: 10px solid orangered; }
.b-0-palegreen, .b0palegreen{ border: 0px solid palegreen; }
.b-1-palegreen, .b1palegreen{ border: 1px solid palegreen; }
.b-2-palegreen, .b2palegreen{ border: 2px solid palegreen; }
.b-3-palegreen, .b3palegreen{ border: 3px solid palegreen; }
.b-4-palegreen, .b4palegreen{ border: 4px solid palegreen; }
.b-5-palegreen, .b5palegreen{ border: 5px solid palegreen; }
.b-6-palegreen, .b6palegreen{ border: 6px solid palegreen; }
.b-7-palegreen, .b7palegreen{ border: 7px solid palegreen; }
.b-8-palegreen, .b8palegreen{ border: 8px solid palegreen; }
.b-9-palegreen, .b9palegreen{ border: 9px solid palegreen; }
.b-10-palegreen, .b10palegreen{ border: 10px solid palegreen; }
.b-0-papayawhip, .b0papayawhip{ border: 0px solid papayawhip; }
.b-1-papayawhip, .b1papayawhip{ border: 1px solid papayawhip; }
.b-2-papayawhip, .b2papayawhip{ border: 2px solid papayawhip; }
.b-3-papayawhip, .b3papayawhip{ border: 3px solid papayawhip; }
.b-4-papayawhip, .b4papayawhip{ border: 4px solid papayawhip; }
.b-5-papayawhip, .b5papayawhip{ border: 5px solid papayawhip; }
.b-6-papayawhip, .b6papayawhip{ border: 6px solid papayawhip; }
.b-7-papayawhip, .b7papayawhip{ border: 7px solid papayawhip; }
.b-8-papayawhip, .b8papayawhip{ border: 8px solid papayawhip; }
.b-9-papayawhip, .b9papayawhip{ border: 9px solid papayawhip; }
.b-10-papayawhip, .b10papayawhip{ border: 10px solid papayawhip; }
.b-0-peachpuff, .b0peachpuff{ border: 0px solid peachpuff; }
.b-1-peachpuff, .b1peachpuff{ border: 1px solid peachpuff; }
.b-2-peachpuff, .b2peachpuff{ border: 2px solid peachpuff; }
.b-3-peachpuff, .b3peachpuff{ border: 3px solid peachpuff; }
.b-4-peachpuff, .b4peachpuff{ border: 4px solid peachpuff; }
.b-5-peachpuff, .b5peachpuff{ border: 5px solid peachpuff; }
.b-6-peachpuff, .b6peachpuff{ border: 6px solid peachpuff; }
.b-7-peachpuff, .b7peachpuff{ border: 7px solid peachpuff; }
.b-8-peachpuff, .b8peachpuff{ border: 8px solid peachpuff; }
.b-9-peachpuff, .b9peachpuff{ border: 9px solid peachpuff; }
.b-10-peachpuff, .b10peachpuff{ border: 10px solid peachpuff; }
.b-0-pink, .b0pink{ border: 0px solid pink; }
.b-1-pink, .b1pink{ border: 1px solid pink; }
.b-2-pink, .b2pink{ border: 2px solid pink; }
.b-3-pink, .b3pink{ border: 3px solid pink; }
.b-4-pink, .b4pink{ border: 4px solid pink; }
.b-5-pink, .b5pink{ border: 5px solid pink; }
.b-6-pink, .b6pink{ border: 6px solid pink; }
.b-7-pink, .b7pink{ border: 7px solid pink; }
.b-8-pink, .b8pink{ border: 8px solid pink; }
.b-9-pink, .b9pink{ border: 9px solid pink; }
.b-10-pink, .b10pink{ border: 10px solid pink; }
.b-0-plum, .b0plum{ border: 0px solid plum; }
.b-1-plum, .b1plum{ border: 1px solid plum; }
.b-2-plum, .b2plum{ border: 2px solid plum; }
.b-3-plum, .b3plum{ border: 3px solid plum; }
.b-4-plum, .b4plum{ border: 4px solid plum; }
.b-5-plum, .b5plum{ border: 5px solid plum; }
.b-6-plum, .b6plum{ border: 6px solid plum; }
.b-7-plum, .b7plum{ border: 7px solid plum; }
.b-8-plum, .b8plum{ border: 8px solid plum; }
.b-9-plum, .b9plum{ border: 9px solid plum; }
.b-10-plum, .b10plum{ border: 10px solid plum; }
.b-0-powderblue, .b0powderblue{ border: 0px solid powderblue; }
.b-1-powderblue, .b1powderblue{ border: 1px solid powderblue; }
.b-2-powderblue, .b2powderblue{ border: 2px solid powderblue; }
.b-3-powderblue, .b3powderblue{ border: 3px solid powderblue; }
.b-4-powderblue, .b4powderblue{ border: 4px solid powderblue; }
.b-5-powderblue, .b5powderblue{ border: 5px solid powderblue; }
.b-6-powderblue, .b6powderblue{ border: 6px solid powderblue; }
.b-7-powderblue, .b7powderblue{ border: 7px solid powderblue; }
.b-8-powderblue, .b8powderblue{ border: 8px solid powderblue; }
.b-9-powderblue, .b9powderblue{ border: 9px solid powderblue; }
.b-10-powderblue, .b10powderblue{ border: 10px solid powderblue; }
.b-0-purple, .b0purple{ border: 0px solid purple; }
.b-1-purple, .b1purple{ border: 1px solid purple; }
.b-2-purple, .b2purple{ border: 2px solid purple; }
.b-3-purple, .b3purple{ border: 3px solid purple; }
.b-4-purple, .b4purple{ border: 4px solid purple; }
.b-5-purple, .b5purple{ border: 5px solid purple; }
.b-6-purple, .b6purple{ border: 6px solid purple; }
.b-7-purple, .b7purple{ border: 7px solid purple; }
.b-8-purple, .b8purple{ border: 8px solid purple; }
.b-9-purple, .b9purple{ border: 9px solid purple; }
.b-10-purple, .b10purple{ border: 10px solid purple; }
.b-0-rebeccapurple, .b0rebeccapurple{ border: 0px solid rebeccapurple; }
.b-1-rebeccapurple, .b1rebeccapurple{ border: 1px solid rebeccapurple; }
.b-2-rebeccapurple, .b2rebeccapurple{ border: 2px solid rebeccapurple; }
.b-3-rebeccapurple, .b3rebeccapurple{ border: 3px solid rebeccapurple; }
.b-4-rebeccapurple, .b4rebeccapurple{ border: 4px solid rebeccapurple; }
.b-5-rebeccapurple, .b5rebeccapurple{ border: 5px solid rebeccapurple; }
.b-6-rebeccapurple, .b6rebeccapurple{ border: 6px solid rebeccapurple; }
.b-7-rebeccapurple, .b7rebeccapurple{ border: 7px solid rebeccapurple; }
.b-8-rebeccapurple, .b8rebeccapurple{ border: 8px solid rebeccapurple; }
.b-9-rebeccapurple, .b9rebeccapurple{ border: 9px solid rebeccapurple; }
.b-10-rebeccapurple, .b10rebeccapurple{ border: 10px solid rebeccapurple; }
.b-0-rosybrown, .b0rosybrown{ border: 0px solid rosybrown; }
.b-1-rosybrown, .b1rosybrown{ border: 1px solid rosybrown; }
.b-2-rosybrown, .b2rosybrown{ border: 2px solid rosybrown; }
.b-3-rosybrown, .b3rosybrown{ border: 3px solid rosybrown; }
.b-4-rosybrown, .b4rosybrown{ border: 4px solid rosybrown; }
.b-5-rosybrown, .b5rosybrown{ border: 5px solid rosybrown; }
.b-6-rosybrown, .b6rosybrown{ border: 6px solid rosybrown; }
.b-7-rosybrown, .b7rosybrown{ border: 7px solid rosybrown; }
.b-8-rosybrown, .b8rosybrown{ border: 8px solid rosybrown; }
.b-9-rosybrown, .b9rosybrown{ border: 9px solid rosybrown; }
.b-10-rosybrown, .b10rosybrown{ border: 10px solid rosybrown; }
.b-0-royalblue, .b0royalblue{ border: 0px solid royalblue; }
.b-1-royalblue, .b1royalblue{ border: 1px solid royalblue; }
.b-2-royalblue, .b2royalblue{ border: 2px solid royalblue; }
.b-3-royalblue, .b3royalblue{ border: 3px solid royalblue; }
.b-4-royalblue, .b4royalblue{ border: 4px solid royalblue; }
.b-5-royalblue, .b5royalblue{ border: 5px solid royalblue; }
.b-6-royalblue, .b6royalblue{ border: 6px solid royalblue; }
.b-7-royalblue, .b7royalblue{ border: 7px solid royalblue; }
.b-8-royalblue, .b8royalblue{ border: 8px solid royalblue; }
.b-9-royalblue, .b9royalblue{ border: 9px solid royalblue; }
.b-10-royalblue, .b10royalblue{ border: 10px solid royalblue; }
.b-0-salmon, .b0salmon{ border: 0px solid salmon; }
.b-1-salmon, .b1salmon{ border: 1px solid salmon; }
.b-2-salmon, .b2salmon{ border: 2px solid salmon; }
.b-3-salmon, .b3salmon{ border: 3px solid salmon; }
.b-4-salmon, .b4salmon{ border: 4px solid salmon; }
.b-5-salmon, .b5salmon{ border: 5px solid salmon; }
.b-6-salmon, .b6salmon{ border: 6px solid salmon; }
.b-7-salmon, .b7salmon{ border: 7px solid salmon; }
.b-8-salmon, .b8salmon{ border: 8px solid salmon; }
.b-9-salmon, .b9salmon{ border: 9px solid salmon; }
.b-10-salmon, .b10salmon{ border: 10px solid salmon; }
.b-0-sandybrown, .b0sandybrown{ border: 0px solid sandybrown; }
.b-1-sandybrown, .b1sandybrown{ border: 1px solid sandybrown; }
.b-2-sandybrown, .b2sandybrown{ border: 2px solid sandybrown; }
.b-3-sandybrown, .b3sandybrown{ border: 3px solid sandybrown; }
.b-4-sandybrown, .b4sandybrown{ border: 4px solid sandybrown; }
.b-5-sandybrown, .b5sandybrown{ border: 5px solid sandybrown; }
.b-6-sandybrown, .b6sandybrown{ border: 6px solid sandybrown; }
.b-7-sandybrown, .b7sandybrown{ border: 7px solid sandybrown; }
.b-8-sandybrown, .b8sandybrown{ border: 8px solid sandybrown; }
.b-9-sandybrown, .b9sandybrown{ border: 9px solid sandybrown; }
.b-10-sandybrown, .b10sandybrown{ border: 10px solid sandybrown; }
.b-0-seagreen, .b0seagreen{ border: 0px solid seagreen; }
.b-1-seagreen, .b1seagreen{ border: 1px solid seagreen; }
.b-2-seagreen, .b2seagreen{ border: 2px solid seagreen; }
.b-3-seagreen, .b3seagreen{ border: 3px solid seagreen; }
.b-4-seagreen, .b4seagreen{ border: 4px solid seagreen; }
.b-5-seagreen, .b5seagreen{ border: 5px solid seagreen; }
.b-6-seagreen, .b6seagreen{ border: 6px solid seagreen; }
.b-7-seagreen, .b7seagreen{ border: 7px solid seagreen; }
.b-8-seagreen, .b8seagreen{ border: 8px solid seagreen; }
.b-9-seagreen, .b9seagreen{ border: 9px solid seagreen; }
.b-10-seagreen, .b10seagreen{ border: 10px solid seagreen; }
.b-0-seashell, .b0seashell{ border: 0px solid seashell; }
.b-1-seashell, .b1seashell{ border: 1px solid seashell; }
.b-2-seashell, .b2seashell{ border: 2px solid seashell; }
.b-3-seashell, .b3seashell{ border: 3px solid seashell; }
.b-4-seashell, .b4seashell{ border: 4px solid seashell; }
.b-5-seashell, .b5seashell{ border: 5px solid seashell; }
.b-6-seashell, .b6seashell{ border: 6px solid seashell; }
.b-7-seashell, .b7seashell{ border: 7px solid seashell; }
.b-8-seashell, .b8seashell{ border: 8px solid seashell; }
.b-9-seashell, .b9seashell{ border: 9px solid seashell; }
.b-10-seashell, .b10seashell{ border: 10px solid seashell; }
.b-0-sienna, .b0sienna{ border: 0px solid sienna; }
.b-1-sienna, .b1sienna{ border: 1px solid sienna; }
.b-2-sienna, .b2sienna{ border: 2px solid sienna; }
.b-3-sienna, .b3sienna{ border: 3px solid sienna; }
.b-4-sienna, .b4sienna{ border: 4px solid sienna; }
.b-5-sienna, .b5sienna{ border: 5px solid sienna; }
.b-6-sienna, .b6sienna{ border: 6px solid sienna; }
.b-7-sienna, .b7sienna{ border: 7px solid sienna; }
.b-8-sienna, .b8sienna{ border: 8px solid sienna; }
.b-9-sienna, .b9sienna{ border: 9px solid sienna; }
.b-10-sienna, .b10sienna{ border: 10px solid sienna; }
.b-0-silver, .b0silver{ border: 0px solid silver; }
.b-1-silver, .b1silver{ border: 1px solid silver; }
.b-2-silver, .b2silver{ border: 2px solid silver; }
.b-3-silver, .b3silver{ border: 3px solid silver; }
.b-4-silver, .b4silver{ border: 4px solid silver; }
.b-5-silver, .b5silver{ border: 5px solid silver; }
.b-6-silver, .b6silver{ border: 6px solid silver; }
.b-7-silver, .b7silver{ border: 7px solid silver; }
.b-8-silver, .b8silver{ border: 8px solid silver; }
.b-9-silver, .b9silver{ border: 9px solid silver; }
.b-10-silver, .b10silver{ border: 10px solid silver; }
.b-0-skyblue, .b0skyblue{ border: 0px solid skyblue; }
.b-1-skyblue, .b1skyblue{ border: 1px solid skyblue; }
.b-2-skyblue, .b2skyblue{ border: 2px solid skyblue; }
.b-3-skyblue, .b3skyblue{ border: 3px solid skyblue; }
.b-4-skyblue, .b4skyblue{ border: 4px solid skyblue; }
.b-5-skyblue, .b5skyblue{ border: 5px solid skyblue; }
.b-6-skyblue, .b6skyblue{ border: 6px solid skyblue; }
.b-7-skyblue, .b7skyblue{ border: 7px solid skyblue; }
.b-8-skyblue, .b8skyblue{ border: 8px solid skyblue; }
.b-9-skyblue, .b9skyblue{ border: 9px solid skyblue; }
.b-10-skyblue, .b10skyblue{ border: 10px solid skyblue; }
.b-0-snow, .b0snow{ border: 0px solid snow; }
.b-1-snow, .b1snow{ border: 1px solid snow; }
.b-2-snow, .b2snow{ border: 2px solid snow; }
.b-3-snow, .b3snow{ border: 3px solid snow; }
.b-4-snow, .b4snow{ border: 4px solid snow; }
.b-5-snow, .b5snow{ border: 5px solid snow; }
.b-6-snow, .b6snow{ border: 6px solid snow; }
.b-7-snow, .b7snow{ border: 7px solid snow; }
.b-8-snow, .b8snow{ border: 8px solid snow; }
.b-9-snow, .b9snow{ border: 9px solid snow; }
.b-10-snow, .b10snow{ border: 10px solid snow; }
.b-0-steelblue, .b0steelblue{ border: 0px solid steelblue; }
.b-1-steelblue, .b1steelblue{ border: 1px solid steelblue; }
.b-2-steelblue, .b2steelblue{ border: 2px solid steelblue; }
.b-3-steelblue, .b3steelblue{ border: 3px solid steelblue; }
.b-4-steelblue, .b4steelblue{ border: 4px solid steelblue; }
.b-5-steelblue, .b5steelblue{ border: 5px solid steelblue; }
.b-6-steelblue, .b6steelblue{ border: 6px solid steelblue; }
.b-7-steelblue, .b7steelblue{ border: 7px solid steelblue; }
.b-8-steelblue, .b8steelblue{ border: 8px solid steelblue; }
.b-9-steelblue, .b9steelblue{ border: 9px solid steelblue; }
.b-10-steelblue, .b10steelblue{ border: 10px solid steelblue; }
.b-0-tan, .b0tan{ border: 0px solid tan; }
.b-1-tan, .b1tan{ border: 1px solid tan; }
.b-2-tan, .b2tan{ border: 2px solid tan; }
.b-3-tan, .b3tan{ border: 3px solid tan; }
.b-4-tan, .b4tan{ border: 4px solid tan; }
.b-5-tan, .b5tan{ border: 5px solid tan; }
.b-6-tan, .b6tan{ border: 6px solid tan; }
.b-7-tan, .b7tan{ border: 7px solid tan; }
.b-8-tan, .b8tan{ border: 8px solid tan; }
.b-9-tan, .b9tan{ border: 9px solid tan; }
.b-10-tan, .b10tan{ border: 10px solid tan; }
.b-0-tomato, .b0tomato{ border: 0px solid tomato; }
.b-1-tomato, .b1tomato{ border: 1px solid tomato; }
.b-2-tomato, .b2tomato{ border: 2px solid tomato; }
.b-3-tomato, .b3tomato{ border: 3px solid tomato; }
.b-4-tomato, .b4tomato{ border: 4px solid tomato; }
.b-5-tomato, .b5tomato{ border: 5px solid tomato; }
.b-6-tomato, .b6tomato{ border: 6px solid tomato; }
.b-7-tomato, .b7tomato{ border: 7px solid tomato; }
.b-8-tomato, .b8tomato{ border: 8px solid tomato; }
.b-9-tomato, .b9tomato{ border: 9px solid tomato; }
.b-10-tomato, .b10tomato{ border: 10px solid tomato; }
.b-0-turquoise, .b0turquoise{ border: 0px solid turquoise; }
.b-1-turquoise, .b1turquoise{ border: 1px solid turquoise; }
.b-2-turquoise, .b2turquoise{ border: 2px solid turquoise; }
.b-3-turquoise, .b3turquoise{ border: 3px solid turquoise; }
.b-4-turquoise, .b4turquoise{ border: 4px solid turquoise; }
.b-5-turquoise, .b5turquoise{ border: 5px solid turquoise; }
.b-6-turquoise, .b6turquoise{ border: 6px solid turquoise; }
.b-7-turquoise, .b7turquoise{ border: 7px solid turquoise; }
.b-8-turquoise, .b8turquoise{ border: 8px solid turquoise; }
.b-9-turquoise, .b9turquoise{ border: 9px solid turquoise; }
.b-10-turquoise, .b10turquoise{ border: 10px solid turquoise; }
.b-0-violet, .b0violet{ border: 0px solid violet; }
.b-1-violet, .b1violet{ border: 1px solid violet; }
.b-2-violet, .b2violet{ border: 2px solid violet; }
.b-3-violet, .b3violet{ border: 3px solid violet; }
.b-4-violet, .b4violet{ border: 4px solid violet; }
.b-5-violet, .b5violet{ border: 5px solid violet; }
.b-6-violet, .b6violet{ border: 6px solid violet; }
.b-7-violet, .b7violet{ border: 7px solid violet; }
.b-8-violet, .b8violet{ border: 8px solid violet; }
.b-9-violet, .b9violet{ border: 9px solid violet; }
.b-10-violet, .b10violet{ border: 10px solid violet; }
.b-0-wheat, .b0wheat{ border: 0px solid wheat; }
.b-1-wheat, .b1wheat{ border: 1px solid wheat; }
.b-2-wheat, .b2wheat{ border: 2px solid wheat; }
.b-3-wheat, .b3wheat{ border: 3px solid wheat; }
.b-4-wheat, .b4wheat{ border: 4px solid wheat; }
.b-5-wheat, .b5wheat{ border: 5px solid wheat; }
.b-6-wheat, .b6wheat{ border: 6px solid wheat; }
.b-7-wheat, .b7wheat{ border: 7px solid wheat; }
.b-8-wheat, .b8wheat{ border: 8px solid wheat; }
.b-9-wheat, .b9wheat{ border: 9px solid wheat; }
.b-10-wheat, .b10wheat{ border: 10px solid wheat; }
.b-0-white, .b0white{ border: 0px solid white; }
.b-1-white, .b1white{ border: 1px solid white; }
.b-2-white, .b2white{ border: 2px solid white; }
.b-3-white, .b3white{ border: 3px solid white; }
.b-4-white, .b4white{ border: 4px solid white; }
.b-5-white, .b5white{ border: 5px solid white; }
.b-6-white, .b6white{ border: 6px solid white; }
.b-7-white, .b7white{ border: 7px solid white; }
.b-8-white, .b8white{ border: 8px solid white; }
.b-9-white, .b9white{ border: 9px solid white; }
.b-10-white, .b10white{ border: 10px solid white; }
.b-0-whitesmoke, .b0whitesmoke{ border: 0px solid whitesmoke; }
.b-1-whitesmoke, .b1whitesmoke{ border: 1px solid whitesmoke; }
.b-2-whitesmoke, .b2whitesmoke{ border: 2px solid whitesmoke; }
.b-3-whitesmoke, .b3whitesmoke{ border: 3px solid whitesmoke; }
.b-4-whitesmoke, .b4whitesmoke{ border: 4px solid whitesmoke; }
.b-5-whitesmoke, .b5whitesmoke{ border: 5px solid whitesmoke; }
.b-6-whitesmoke, .b6whitesmoke{ border: 6px solid whitesmoke; }
.b-7-whitesmoke, .b7whitesmoke{ border: 7px solid whitesmoke; }
.b-8-whitesmoke, .b8whitesmoke{ border: 8px solid whitesmoke; }
.b-9-whitesmoke, .b9whitesmoke{ border: 9px solid whitesmoke; }
.b-10-whitesmoke, .b10whitesmoke{ border: 10px solid whitesmoke; }
.b-0-yellowgreen, .b0yellowgreen{ border: 0px solid yellowgreen; }
.b-1-yellowgreen, .b1yellowgreen{ border: 1px solid yellowgreen; }
.b-2-yellowgreen, .b2yellowgreen{ border: 2px solid yellowgreen; }
.b-3-yellowgreen, .b3yellowgreen{ border: 3px solid yellowgreen; }
.b-4-yellowgreen, .b4yellowgreen{ border: 4px solid yellowgreen; }
.b-5-yellowgreen, .b5yellowgreen{ border: 5px solid yellowgreen; }
.b-6-yellowgreen, .b6yellowgreen{ border: 6px solid yellowgreen; }
.b-7-yellowgreen, .b7yellowgreen{ border: 7px solid yellowgreen; }
.b-8-yellowgreen, .b8yellowgreen{ border: 8px solid yellowgreen; }
.b-9-yellowgreen, .b9yellowgreen{ border: 9px solid yellowgreen; }
.b-10-yellowgreen, .b10yellowgreen{ border: 10px solid yellowgreen; }
.b-0-red, .b0red{ border: 0px solid red; }
.b-1-red, .b1red{ border: 1px solid red; }
.b-2-red, .b2red{ border: 2px solid red; }
.b-3-red, .b3red{ border: 3px solid red; }
.b-4-red, .b4red{ border: 4px solid red; }
.b-5-red, .b5red{ border: 5px solid red; }
.b-6-red, .b6red{ border: 6px solid red; }
.b-7-red, .b7red{ border: 7px solid red; }
.b-8-red, .b8red{ border: 8px solid red; }
.b-9-red, .b9red{ border: 9px solid red; }
.b-10-red, .b10red{ border: 10px solid red; }
.b-0-orange, .b0orange{ border: 0px solid orange; }
.b-1-orange, .b1orange{ border: 1px solid orange; }
.b-2-orange, .b2orange{ border: 2px solid orange; }
.b-3-orange, .b3orange{ border: 3px solid orange; }
.b-4-orange, .b4orange{ border: 4px solid orange; }
.b-5-orange, .b5orange{ border: 5px solid orange; }
.b-6-orange, .b6orange{ border: 6px solid orange; }
.b-7-orange, .b7orange{ border: 7px solid orange; }
.b-8-orange, .b8orange{ border: 8px solid orange; }
.b-9-orange, .b9orange{ border: 9px solid orange; }
.b-10-orange, .b10orange{ border: 10px solid orange; }
.b-0-yellow, .b0yellow{ border: 0px solid yellow; }
.b-1-yellow, .b1yellow{ border: 1px solid yellow; }
.b-2-yellow, .b2yellow{ border: 2px solid yellow; }
.b-3-yellow, .b3yellow{ border: 3px solid yellow; }
.b-4-yellow, .b4yellow{ border: 4px solid yellow; }
.b-5-yellow, .b5yellow{ border: 5px solid yellow; }
.b-6-yellow, .b6yellow{ border: 6px solid yellow; }
.b-7-yellow, .b7yellow{ border: 7px solid yellow; }
.b-8-yellow, .b8yellow{ border: 8px solid yellow; }
.b-9-yellow, .b9yellow{ border: 9px solid yellow; }
.b-10-yellow, .b10yellow{ border: 10px solid yellow; }