.c-aliceblue{color: aliceblue !important;}
.c-aqua{color: aqua !important;}
.c-aquamarine{color: aquamarine !important;}
.c-azure{color: azure !important;}
.c-beige{color: beige !important;}
.c-bisque{color: bisque !important;}
.c-black{color: black !important;}
.c-blue{color: blue !important;}
.c-brown{color: brown !important;}
.c-coral{color: coral !important;}
.c-cyan{color: cyan !important;}
.c-darkblue{color: darkblue !important;}
.c-darkcyan{color: darkcyan !important;}
.c-darkgray{color: darkgray !important;}
.c-darkgreen{color: darkgreen !important;}
.c-darkkhaki{color: darkkhaki !important;}
.c-darkorange{color: darkorange !important;}
.c-darkorchid{color: darkorchid !important;}
.c-darkred{color: darkred !important;}
.c-darksalmon{color: darksalmon !important;}
.c-darkviolet{color: darkviolet !important;}
.c-deeppink{color: deeppink !important;}
.c-dimgray{color: dimgray !important;}
.c-dodgerblue{color: dodgerblue !important;}
.c-firebrick{color: firebrick !important;}
.c-floralwhite{color: floralwhite !important;}
.c-forestgreen{color: forestgreen !important;}
.c-fuchsia{color: fuchsia !important;}
.c-gainsboro{color: gainsboro !important;}
.c-ghostwhite{color: ghostwhite !important;}
.c-gold{color: gold !important;}
.c-goldenrod{color: goldenrod !important;}
.c-gray{color: gray !important;}
.c-green{color: green !important;}
.c-greenyellow{color: greenyellow !important;}
.c-honeydew{color: honeydew !important;}
.c-hotpink{color: hotpink !important;}
.c-indianred{color: indianred !important;}
.c-indigo{color: indigo !important;}
.c-ivory{color: ivory !important;}
.c-khaki{color: khaki !important;}
.c-lavender{color: lavender !important;}
.c-lawngreen{color: lawngreen !important;}
.c-lightblue{color: lightblue !important;}
.c-lightcoral{color: lightcoral !important;}
.c-lightcyan{color: lightcyan !important;}
.c-lightgray{color: lightgray !important;}
.c-lightpink{color: lightpink !important;}
.c-lime{color: lime !important;}
.c-limegreen{color: limegreen !important;}
.c-linen{color: linen !important;}
.c-magenta{color: magenta !important;}
.c-maroon{color: maroon !important;}
.c-mediumblue{color: mediumblue !important;}
.c-mintcream{color: mintcream !important;}
.c-mistyrose{color: mistyrose !important;}
.c-moccasin{color: moccasin !important;}
.c-navajowhite{color: navajowhite !important;}
.c-navy{color: navy !important;}
.c-oldlace{color: oldlace !important;}
.c-olive{color: olive !important;}
.c-olivedrab{color: olivedrab !important;}
.c-orange{color: orange !important;}
.c-orangered{color: orangered !important;}
.c-orchid{color: orchid !important;}
.c-palegreen{color: palegreen !important;}
.c-papayawhip{color: papayawhip !important;}
.c-peachpuff{color: peachpuff !important;}
.c-peru{color: peru !important;}
.c-pink{color: pink !important;}
.c-plum{color: plum !important;}
.c-powderblue{color: powderblue !important;}
.c-purple{color: purple !important;}
.c-rebeccapurple{color: rebeccapurple !important;}
.c-red{color: red !important;}
.c-rosybrown{color: rosybrown !important;}
.c-royalblue{color: royalblue !important;}
.c-saddlebrown{color: saddlebrown !important;}
.c-salmon{color: salmon !important;}
.c-sandybrown{color: sandybrown !important;}
.c-seagreen{color: seagreen !important;}
.c-seashell{color: seashell !important;}
.c-sienna{color: sienna !important;}
.c-silver{color: silver !important;}
.c-skyblue{color: skyblue !important;}
.c-slateblue{color: slateblue !important;}
.c-slategray{color: slategray !important;}
.c-snow{color: snow !important;}
.c-springgreen{color: springgreen !important;}
.c-steelblue{color: steelblue !important;}
.c-tan{color: tan !important;}
.c-teal{color: teal !important;}
.c-thistle{color: thistle !important;}
.c-tomato{color: tomato !important;}
.c-transparent{color: transparent !important;}
.c-turquoise{color: turquoise !important;}
.c-violet{color: violet !important;}
.c-wheat{color: wheat !important;}
.c-white{color: white !important;}
.c-whitesmoke{color: whitesmoke !important;}
.c-yellow{color: yellow !important;}
.c-yellowgreen{color: yellowgreen !important;}