/*
flex-basis
.fb${i}{flex-basis:${i}px !important;}
*/


.fb0{flex-basis:0px !important;}
.fb1{flex-basis:1px !important;}
.fb2{flex-basis:2px !important;}
.fb3{flex-basis:3px !important;}
.fb4{flex-basis:4px !important;}
.fb5{flex-basis:5px !important;}
.fb6{flex-basis:6px !important;}
.fb7{flex-basis:7px !important;}
.fb8{flex-basis:8px !important;}
.fb9{flex-basis:9px !important;}
.fb10{flex-basis:10px !important;}
.fb11{flex-basis:11px !important;}
.fb12{flex-basis:12px !important;}
.fb13{flex-basis:13px !important;}
.fb14{flex-basis:14px !important;}
.fb15{flex-basis:15px !important;}
.fb16{flex-basis:16px !important;}
.fb17{flex-basis:17px !important;}
.fb18{flex-basis:18px !important;}
.fb19{flex-basis:19px !important;}
.fb20{flex-basis:20px !important;}
.fb21{flex-basis:21px !important;}
.fb22{flex-basis:22px !important;}
.fb23{flex-basis:23px !important;}
.fb24{flex-basis:24px !important;}
.fb25{flex-basis:25px !important;}
.fb26{flex-basis:26px !important;}
.fb27{flex-basis:27px !important;}
.fb28{flex-basis:28px !important;}
.fb29{flex-basis:29px !important;}
.fb30{flex-basis:30px !important;}
.fb31{flex-basis:31px !important;}
.fb32{flex-basis:32px !important;}
.fb33{flex-basis:33px !important;}
.fb34{flex-basis:34px !important;}
.fb35{flex-basis:35px !important;}
.fb36{flex-basis:36px !important;}
.fb37{flex-basis:37px !important;}
.fb38{flex-basis:38px !important;}
.fb39{flex-basis:39px !important;}
.fb40{flex-basis:40px !important;}
.fb41{flex-basis:41px !important;}
.fb42{flex-basis:42px !important;}
.fb43{flex-basis:43px !important;}
.fb44{flex-basis:44px !important;}
.fb45{flex-basis:45px !important;}
.fb46{flex-basis:46px !important;}
.fb47{flex-basis:47px !important;}
.fb48{flex-basis:48px !important;}
.fb49{flex-basis:49px !important;}
.fb50{flex-basis:50px !important;}