.inputa{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid aqua;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputa:focus {
  border: 1px solid aquamarine;
}

.inputb{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid blue;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputb:focus {
  border: 1px solid #0000ff29;
}

.inputc{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid cyan;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputc:focus {
  border: 1px solid #5edede7b;
}

.inputd{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid darkblue;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputd:focus {
  border: 1px solid #0e0e7b90;
}

.inpute{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid fuchsia;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inpute:focus {
  border: 1px solid #952695a8;
}

.inputf{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid firebrick;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputf:focus {
  border: 1px solid #5b1f1f92;
}

.inputg{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid gold;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputg:focus {
  border: 1px solid #70652d;
}

.inputh{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid hotpink;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputh:focus {
  border: 1px solid #6b3a52;
}

.inputi{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid indigo;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputi:focus {
  border: 1px solid #371450;
}

.inputj{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid lightcoral;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputj:focus {
  border: 1px solid #b65a5a85;
}

.inputk{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid khaki;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputk:focus {
  border: 1px solid #f0e68c59;
}

.inputl{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid lavender;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputl:focus {
  border: 1px solid #e6e6fa4e;
}

.inputm{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid magenta;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputm:focus {
  border: 1px solid #ff00ff4a;
}

.inputn{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid navy;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputn:focus {
  border: 1px solid #32326f9c;
}

.inputo{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid oldlace;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputo:focus {
  border: 1px solid #fdf5e65e;
}

.inputp{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid palegreen;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputp:focus {
  border: 1px solid #98fb9862;
}

.inputq{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid purple;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputq:focus {
  border: 1px solid #580c588f;
}

.inputr{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid red;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputr:focus {
  border: 1px solid #c3202066;
}

.inputs{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid saddlebrown;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputs:focus {
  border: 1px solid #8b45135a;
}

.inputt{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid tan;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputt:focus {
  border: 1px solid #d2b48c58;
}

.inputu{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid tomato;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputu:focus {
  border: 1px solid #ff634747;
}

.inputv{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid violet;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputv:focus {
  border: 1px solid #cc42cc6b;
}

.inputw{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid wheat;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputw:focus {
  border: 1px solid #f5deb356;
}

.inputx{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid teal;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputx:focus {
  border: 1px solid #0a52525d;
}

.inputy{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid #c2ff00;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputy:focus {
  border: 1px solid #c2ff0047;
}

.inputz{
  width: 400px;
  height: 35px;
  display: block;
  margin: auto;
  padding-left: 11px;
  border: 1px solid #ff5300;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
.inputz:focus {
  border: 1px solid #ff530047;
}