
.l-s0{letter-spacing: 0px !important;}

.l-s1{letter-spacing: 1px !important;}

.l-s2{letter-spacing: 2px !important;}

.l-s3{letter-spacing: 3px !important;}

.l-s4{letter-spacing: 4px !important;}

.l-s5{letter-spacing: 5px !important;}

.l-s6{letter-spacing: 6px !important;}

.l-s7{letter-spacing: 7px !important;}

.l-s8{letter-spacing: 8px !important;}

.l-s9{letter-spacing: 9px !important;}

.l-s10{letter-spacing: 10px !important;}

.l-s11{letter-spacing: 11px !important;}

.l-s12{letter-spacing: 12px !important;}

.l-s13{letter-spacing: 13px !important;}

.l-s14{letter-spacing: 14px !important;}

.l-s15{letter-spacing: 15px !important;}

.l-s16{letter-spacing: 16px !important;}

.l-s17{letter-spacing: 17px !important;}

.l-s18{letter-spacing: 18px !important;}

.l-s19{letter-spacing: 19px !important;}

.l-s20{letter-spacing: 20px !important;}

.l-s21{letter-spacing: 21px !important;}

.l-s22{letter-spacing: 22px !important;}

.l-s23{letter-spacing: 23px !important;}

.l-s24{letter-spacing: 24px !important;}

.l-s25{letter-spacing: 25px !important;}

.l-s26{letter-spacing: 26px !important;}

.l-s27{letter-spacing: 27px !important;}

.l-s28{letter-spacing: 28px !important;}

.l-s29{letter-spacing: 29px !important;}

.l-s30{letter-spacing: 30px !important;}

.l-s31{letter-spacing: 31px !important;}

.l-s32{letter-spacing: 32px !important;}

.l-s33{letter-spacing: 33px !important;}

.l-s34{letter-spacing: 34px !important;}

.l-s35{letter-spacing: 35px !important;}

.l-s36{letter-spacing: 36px !important;}

.l-s37{letter-spacing: 37px !important;}

.l-s38{letter-spacing: 38px !important;}

.l-s39{letter-spacing: 39px !important;}

.l-s40{letter-spacing: 40px !important;}

.l-s41{letter-spacing: 41px !important;}

.l-s42{letter-spacing: 42px !important;}

.l-s43{letter-spacing: 43px !important;}

.l-s44{letter-spacing: 44px !important;}

.l-s45{letter-spacing: 45px !important;}

.l-s46{letter-spacing: 46px !important;}

.l-s47{letter-spacing: 47px !important;}

.l-s48{letter-spacing: 48px !important;}

.l-s49{letter-spacing: 49px !important;}

.l-s50{letter-spacing: 50px !important;}