/*
line-height code
.l-h${i}, .lh${i}{ line-height: ${i}px !important; }
.a_l-h${i}:active, .a_lh${i}:active{ line-height: ${i}px !important; }
.g_l-h${i}:hover, .h_lh${i}:hover{ line-height: ${i}px !important; }
.f_l-h${i}:focus, .f_lh${i}:focus{ line-height: ${i}px !important; }
.l_l-h${i}:link, .l_lh${i}:link{ line-height: ${i}px !important; }
.v_l-h${i}:visited, .v_lh${i}:visited{ line-height: ${i}px !important; }
*/

.l-h0, .lh0{ line-height: 0px !important; }
.a_l-h0:active, .a_lh0:active{ line-height: 0px !important; }
.g_l-h0:hover, .h_lh0:hover{ line-height: 0px !important; }
.f_l-h0:focus, .f_lh0:focus{ line-height: 0px !important; }
.l_l-h0:link, .l_lh0:link{ line-height: 0px !important; }
.v_l-h0:visited, .v_lh0:visited{ line-height: 0px !important; }
        
.l-h1, .lh1{ line-height: 1px !important; }
.a_l-h1:active, .a_lh1:active{ line-height: 1px !important; }
.g_l-h1:hover, .h_lh1:hover{ line-height: 1px !important; }
.f_l-h1:focus, .f_lh1:focus{ line-height: 1px !important; }
.l_l-h1:link, .l_lh1:link{ line-height: 1px !important; }
.v_l-h1:visited, .v_lh1:visited{ line-height: 1px !important; }
        
.l-h2, .lh2{ line-height: 2px !important; }
.a_l-h2:active, .a_lh2:active{ line-height: 2px !important; }
.g_l-h2:hover, .h_lh2:hover{ line-height: 2px !important; }
.f_l-h2:focus, .f_lh2:focus{ line-height: 2px !important; }
.l_l-h2:link, .l_lh2:link{ line-height: 2px !important; }
.v_l-h2:visited, .v_lh2:visited{ line-height: 2px !important; }
        
.l-h3, .lh3{ line-height: 3px !important; }
.a_l-h3:active, .a_lh3:active{ line-height: 3px !important; }
.g_l-h3:hover, .h_lh3:hover{ line-height: 3px !important; }
.f_l-h3:focus, .f_lh3:focus{ line-height: 3px !important; }
.l_l-h3:link, .l_lh3:link{ line-height: 3px !important; }
.v_l-h3:visited, .v_lh3:visited{ line-height: 3px !important; }
        
.l-h4, .lh4{ line-height: 4px !important; }
.a_l-h4:active, .a_lh4:active{ line-height: 4px !important; }
.g_l-h4:hover, .h_lh4:hover{ line-height: 4px !important; }
.f_l-h4:focus, .f_lh4:focus{ line-height: 4px !important; }
.l_l-h4:link, .l_lh4:link{ line-height: 4px !important; }
.v_l-h4:visited, .v_lh4:visited{ line-height: 4px !important; }
        
.l-h5, .lh5{ line-height: 5px !important; }
.a_l-h5:active, .a_lh5:active{ line-height: 5px !important; }
.g_l-h5:hover, .h_lh5:hover{ line-height: 5px !important; }
.f_l-h5:focus, .f_lh5:focus{ line-height: 5px !important; }
.l_l-h5:link, .l_lh5:link{ line-height: 5px !important; }
.v_l-h5:visited, .v_lh5:visited{ line-height: 5px !important; }
        
.l-h6, .lh6{ line-height: 6px !important; }
.a_l-h6:active, .a_lh6:active{ line-height: 6px !important; }
.g_l-h6:hover, .h_lh6:hover{ line-height: 6px !important; }
.f_l-h6:focus, .f_lh6:focus{ line-height: 6px !important; }
.l_l-h6:link, .l_lh6:link{ line-height: 6px !important; }
.v_l-h6:visited, .v_lh6:visited{ line-height: 6px !important; }
        
.l-h7, .lh7{ line-height: 7px !important; }
.a_l-h7:active, .a_lh7:active{ line-height: 7px !important; }
.g_l-h7:hover, .h_lh7:hover{ line-height: 7px !important; }
.f_l-h7:focus, .f_lh7:focus{ line-height: 7px !important; }
.l_l-h7:link, .l_lh7:link{ line-height: 7px !important; }
.v_l-h7:visited, .v_lh7:visited{ line-height: 7px !important; }
        
.l-h8, .lh8{ line-height: 8px !important; }
.a_l-h8:active, .a_lh8:active{ line-height: 8px !important; }
.g_l-h8:hover, .h_lh8:hover{ line-height: 8px !important; }
.f_l-h8:focus, .f_lh8:focus{ line-height: 8px !important; }
.l_l-h8:link, .l_lh8:link{ line-height: 8px !important; }
.v_l-h8:visited, .v_lh8:visited{ line-height: 8px !important; }
        
.l-h9, .lh9{ line-height: 9px !important; }
.a_l-h9:active, .a_lh9:active{ line-height: 9px !important; }
.g_l-h9:hover, .h_lh9:hover{ line-height: 9px !important; }
.f_l-h9:focus, .f_lh9:focus{ line-height: 9px !important; }
.l_l-h9:link, .l_lh9:link{ line-height: 9px !important; }
.v_l-h9:visited, .v_lh9:visited{ line-height: 9px !important; }
        
.l-h10, .lh10{ line-height: 10px !important; }
.a_l-h10:active, .a_lh10:active{ line-height: 10px !important; }
.g_l-h10:hover, .h_lh10:hover{ line-height: 10px !important; }
.f_l-h10:focus, .f_lh10:focus{ line-height: 10px !important; }
.l_l-h10:link, .l_lh10:link{ line-height: 10px !important; }
.v_l-h10:visited, .v_lh10:visited{ line-height: 10px !important; }
        
.l-h11, .lh11{ line-height: 11px !important; }
.a_l-h11:active, .a_lh11:active{ line-height: 11px !important; }
.g_l-h11:hover, .h_lh11:hover{ line-height: 11px !important; }
.f_l-h11:focus, .f_lh11:focus{ line-height: 11px !important; }
.l_l-h11:link, .l_lh11:link{ line-height: 11px !important; }
.v_l-h11:visited, .v_lh11:visited{ line-height: 11px !important; }
        
.l-h12, .lh12{ line-height: 12px !important; }
.a_l-h12:active, .a_lh12:active{ line-height: 12px !important; }
.g_l-h12:hover, .h_lh12:hover{ line-height: 12px !important; }
.f_l-h12:focus, .f_lh12:focus{ line-height: 12px !important; }
.l_l-h12:link, .l_lh12:link{ line-height: 12px !important; }
.v_l-h12:visited, .v_lh12:visited{ line-height: 12px !important; }
        
.l-h13, .lh13{ line-height: 13px !important; }
.a_l-h13:active, .a_lh13:active{ line-height: 13px !important; }
.g_l-h13:hover, .h_lh13:hover{ line-height: 13px !important; }
.f_l-h13:focus, .f_lh13:focus{ line-height: 13px !important; }
.l_l-h13:link, .l_lh13:link{ line-height: 13px !important; }
.v_l-h13:visited, .v_lh13:visited{ line-height: 13px !important; }
        
.l-h14, .lh14{ line-height: 14px !important; }
.a_l-h14:active, .a_lh14:active{ line-height: 14px !important; }
.g_l-h14:hover, .h_lh14:hover{ line-height: 14px !important; }
.f_l-h14:focus, .f_lh14:focus{ line-height: 14px !important; }
.l_l-h14:link, .l_lh14:link{ line-height: 14px !important; }
.v_l-h14:visited, .v_lh14:visited{ line-height: 14px !important; }
        
.l-h15, .lh15{ line-height: 15px !important; }
.a_l-h15:active, .a_lh15:active{ line-height: 15px !important; }
.g_l-h15:hover, .h_lh15:hover{ line-height: 15px !important; }
.f_l-h15:focus, .f_lh15:focus{ line-height: 15px !important; }
.l_l-h15:link, .l_lh15:link{ line-height: 15px !important; }
.v_l-h15:visited, .v_lh15:visited{ line-height: 15px !important; }
        
.l-h16, .lh16{ line-height: 16px !important; }
.a_l-h16:active, .a_lh16:active{ line-height: 16px !important; }
.g_l-h16:hover, .h_lh16:hover{ line-height: 16px !important; }
.f_l-h16:focus, .f_lh16:focus{ line-height: 16px !important; }
.l_l-h16:link, .l_lh16:link{ line-height: 16px !important; }
.v_l-h16:visited, .v_lh16:visited{ line-height: 16px !important; }
        
.l-h17, .lh17{ line-height: 17px !important; }
.a_l-h17:active, .a_lh17:active{ line-height: 17px !important; }
.g_l-h17:hover, .h_lh17:hover{ line-height: 17px !important; }
.f_l-h17:focus, .f_lh17:focus{ line-height: 17px !important; }
.l_l-h17:link, .l_lh17:link{ line-height: 17px !important; }
.v_l-h17:visited, .v_lh17:visited{ line-height: 17px !important; }
        
.l-h18, .lh18{ line-height: 18px !important; }
.a_l-h18:active, .a_lh18:active{ line-height: 18px !important; }
.g_l-h18:hover, .h_lh18:hover{ line-height: 18px !important; }
.f_l-h18:focus, .f_lh18:focus{ line-height: 18px !important; }
.l_l-h18:link, .l_lh18:link{ line-height: 18px !important; }
.v_l-h18:visited, .v_lh18:visited{ line-height: 18px !important; }
        
.l-h19, .lh19{ line-height: 19px !important; }
.a_l-h19:active, .a_lh19:active{ line-height: 19px !important; }
.g_l-h19:hover, .h_lh19:hover{ line-height: 19px !important; }
.f_l-h19:focus, .f_lh19:focus{ line-height: 19px !important; }
.l_l-h19:link, .l_lh19:link{ line-height: 19px !important; }
.v_l-h19:visited, .v_lh19:visited{ line-height: 19px !important; }
        
.l-h20, .lh20{ line-height: 20px !important; }
.a_l-h20:active, .a_lh20:active{ line-height: 20px !important; }
.g_l-h20:hover, .h_lh20:hover{ line-height: 20px !important; }
.f_l-h20:focus, .f_lh20:focus{ line-height: 20px !important; }
.l_l-h20:link, .l_lh20:link{ line-height: 20px !important; }
.v_l-h20:visited, .v_lh20:visited{ line-height: 20px !important; }
        
.l-h21, .lh21{ line-height: 21px !important; }
.a_l-h21:active, .a_lh21:active{ line-height: 21px !important; }
.g_l-h21:hover, .h_lh21:hover{ line-height: 21px !important; }
.f_l-h21:focus, .f_lh21:focus{ line-height: 21px !important; }
.l_l-h21:link, .l_lh21:link{ line-height: 21px !important; }
.v_l-h21:visited, .v_lh21:visited{ line-height: 21px !important; }
        
.l-h22, .lh22{ line-height: 22px !important; }
.a_l-h22:active, .a_lh22:active{ line-height: 22px !important; }
.g_l-h22:hover, .h_lh22:hover{ line-height: 22px !important; }
.f_l-h22:focus, .f_lh22:focus{ line-height: 22px !important; }
.l_l-h22:link, .l_lh22:link{ line-height: 22px !important; }
.v_l-h22:visited, .v_lh22:visited{ line-height: 22px !important; }
        
.l-h23, .lh23{ line-height: 23px !important; }
.a_l-h23:active, .a_lh23:active{ line-height: 23px !important; }
.g_l-h23:hover, .h_lh23:hover{ line-height: 23px !important; }
.f_l-h23:focus, .f_lh23:focus{ line-height: 23px !important; }
.l_l-h23:link, .l_lh23:link{ line-height: 23px !important; }
.v_l-h23:visited, .v_lh23:visited{ line-height: 23px !important; }
        
.l-h24, .lh24{ line-height: 24px !important; }
.a_l-h24:active, .a_lh24:active{ line-height: 24px !important; }
.g_l-h24:hover, .h_lh24:hover{ line-height: 24px !important; }
.f_l-h24:focus, .f_lh24:focus{ line-height: 24px !important; }
.l_l-h24:link, .l_lh24:link{ line-height: 24px !important; }
.v_l-h24:visited, .v_lh24:visited{ line-height: 24px !important; }
        
.l-h25, .lh25{ line-height: 25px !important; }
.a_l-h25:active, .a_lh25:active{ line-height: 25px !important; }
.g_l-h25:hover, .h_lh25:hover{ line-height: 25px !important; }
.f_l-h25:focus, .f_lh25:focus{ line-height: 25px !important; }
.l_l-h25:link, .l_lh25:link{ line-height: 25px !important; }
.v_l-h25:visited, .v_lh25:visited{ line-height: 25px !important; }
        
.l-h26, .lh26{ line-height: 26px !important; }
.a_l-h26:active, .a_lh26:active{ line-height: 26px !important; }
.g_l-h26:hover, .h_lh26:hover{ line-height: 26px !important; }
.f_l-h26:focus, .f_lh26:focus{ line-height: 26px !important; }
.l_l-h26:link, .l_lh26:link{ line-height: 26px !important; }
.v_l-h26:visited, .v_lh26:visited{ line-height: 26px !important; }
        
.l-h27, .lh27{ line-height: 27px !important; }
.a_l-h27:active, .a_lh27:active{ line-height: 27px !important; }
.g_l-h27:hover, .h_lh27:hover{ line-height: 27px !important; }
.f_l-h27:focus, .f_lh27:focus{ line-height: 27px !important; }
.l_l-h27:link, .l_lh27:link{ line-height: 27px !important; }
.v_l-h27:visited, .v_lh27:visited{ line-height: 27px !important; }
        
.l-h28, .lh28{ line-height: 28px !important; }
.a_l-h28:active, .a_lh28:active{ line-height: 28px !important; }
.g_l-h28:hover, .h_lh28:hover{ line-height: 28px !important; }
.f_l-h28:focus, .f_lh28:focus{ line-height: 28px !important; }
.l_l-h28:link, .l_lh28:link{ line-height: 28px !important; }
.v_l-h28:visited, .v_lh28:visited{ line-height: 28px !important; }
        
.l-h29, .lh29{ line-height: 29px !important; }
.a_l-h29:active, .a_lh29:active{ line-height: 29px !important; }
.g_l-h29:hover, .h_lh29:hover{ line-height: 29px !important; }
.f_l-h29:focus, .f_lh29:focus{ line-height: 29px !important; }
.l_l-h29:link, .l_lh29:link{ line-height: 29px !important; }
.v_l-h29:visited, .v_lh29:visited{ line-height: 29px !important; }
        
.l-h30, .lh30{ line-height: 30px !important; }
.a_l-h30:active, .a_lh30:active{ line-height: 30px !important; }
.g_l-h30:hover, .h_lh30:hover{ line-height: 30px !important; }
.f_l-h30:focus, .f_lh30:focus{ line-height: 30px !important; }
.l_l-h30:link, .l_lh30:link{ line-height: 30px !important; }
.v_l-h30:visited, .v_lh30:visited{ line-height: 30px !important; }
        
.l-h31, .lh31{ line-height: 31px !important; }
.a_l-h31:active, .a_lh31:active{ line-height: 31px !important; }
.g_l-h31:hover, .h_lh31:hover{ line-height: 31px !important; }
.f_l-h31:focus, .f_lh31:focus{ line-height: 31px !important; }
.l_l-h31:link, .l_lh31:link{ line-height: 31px !important; }
.v_l-h31:visited, .v_lh31:visited{ line-height: 31px !important; }
        
.l-h32, .lh32{ line-height: 32px !important; }
.a_l-h32:active, .a_lh32:active{ line-height: 32px !important; }
.g_l-h32:hover, .h_lh32:hover{ line-height: 32px !important; }
.f_l-h32:focus, .f_lh32:focus{ line-height: 32px !important; }
.l_l-h32:link, .l_lh32:link{ line-height: 32px !important; }
.v_l-h32:visited, .v_lh32:visited{ line-height: 32px !important; }
        
.l-h33, .lh33{ line-height: 33px !important; }
.a_l-h33:active, .a_lh33:active{ line-height: 33px !important; }
.g_l-h33:hover, .h_lh33:hover{ line-height: 33px !important; }
.f_l-h33:focus, .f_lh33:focus{ line-height: 33px !important; }
.l_l-h33:link, .l_lh33:link{ line-height: 33px !important; }
.v_l-h33:visited, .v_lh33:visited{ line-height: 33px !important; }
        
.l-h34, .lh34{ line-height: 34px !important; }
.a_l-h34:active, .a_lh34:active{ line-height: 34px !important; }
.g_l-h34:hover, .h_lh34:hover{ line-height: 34px !important; }
.f_l-h34:focus, .f_lh34:focus{ line-height: 34px !important; }
.l_l-h34:link, .l_lh34:link{ line-height: 34px !important; }
.v_l-h34:visited, .v_lh34:visited{ line-height: 34px !important; }
        
.l-h35, .lh35{ line-height: 35px !important; }
.a_l-h35:active, .a_lh35:active{ line-height: 35px !important; }
.g_l-h35:hover, .h_lh35:hover{ line-height: 35px !important; }
.f_l-h35:focus, .f_lh35:focus{ line-height: 35px !important; }
.l_l-h35:link, .l_lh35:link{ line-height: 35px !important; }
.v_l-h35:visited, .v_lh35:visited{ line-height: 35px !important; }
        
.l-h36, .lh36{ line-height: 36px !important; }
.a_l-h36:active, .a_lh36:active{ line-height: 36px !important; }
.g_l-h36:hover, .h_lh36:hover{ line-height: 36px !important; }
.f_l-h36:focus, .f_lh36:focus{ line-height: 36px !important; }
.l_l-h36:link, .l_lh36:link{ line-height: 36px !important; }
.v_l-h36:visited, .v_lh36:visited{ line-height: 36px !important; }
        
.l-h37, .lh37{ line-height: 37px !important; }
.a_l-h37:active, .a_lh37:active{ line-height: 37px !important; }
.g_l-h37:hover, .h_lh37:hover{ line-height: 37px !important; }
.f_l-h37:focus, .f_lh37:focus{ line-height: 37px !important; }
.l_l-h37:link, .l_lh37:link{ line-height: 37px !important; }
.v_l-h37:visited, .v_lh37:visited{ line-height: 37px !important; }
        
.l-h38, .lh38{ line-height: 38px !important; }
.a_l-h38:active, .a_lh38:active{ line-height: 38px !important; }
.g_l-h38:hover, .h_lh38:hover{ line-height: 38px !important; }
.f_l-h38:focus, .f_lh38:focus{ line-height: 38px !important; }
.l_l-h38:link, .l_lh38:link{ line-height: 38px !important; }
.v_l-h38:visited, .v_lh38:visited{ line-height: 38px !important; }
        
.l-h39, .lh39{ line-height: 39px !important; }
.a_l-h39:active, .a_lh39:active{ line-height: 39px !important; }
.g_l-h39:hover, .h_lh39:hover{ line-height: 39px !important; }
.f_l-h39:focus, .f_lh39:focus{ line-height: 39px !important; }
.l_l-h39:link, .l_lh39:link{ line-height: 39px !important; }
.v_l-h39:visited, .v_lh39:visited{ line-height: 39px !important; }
        
.l-h40, .lh40{ line-height: 40px !important; }
.a_l-h40:active, .a_lh40:active{ line-height: 40px !important; }
.g_l-h40:hover, .h_lh40:hover{ line-height: 40px !important; }
.f_l-h40:focus, .f_lh40:focus{ line-height: 40px !important; }
.l_l-h40:link, .l_lh40:link{ line-height: 40px !important; }
.v_l-h40:visited, .v_lh40:visited{ line-height: 40px !important; }
        
.l-h41, .lh41{ line-height: 41px !important; }
.a_l-h41:active, .a_lh41:active{ line-height: 41px !important; }
.g_l-h41:hover, .h_lh41:hover{ line-height: 41px !important; }
.f_l-h41:focus, .f_lh41:focus{ line-height: 41px !important; }
.l_l-h41:link, .l_lh41:link{ line-height: 41px !important; }
.v_l-h41:visited, .v_lh41:visited{ line-height: 41px !important; }
        
.l-h42, .lh42{ line-height: 42px !important; }
.a_l-h42:active, .a_lh42:active{ line-height: 42px !important; }
.g_l-h42:hover, .h_lh42:hover{ line-height: 42px !important; }
.f_l-h42:focus, .f_lh42:focus{ line-height: 42px !important; }
.l_l-h42:link, .l_lh42:link{ line-height: 42px !important; }
.v_l-h42:visited, .v_lh42:visited{ line-height: 42px !important; }
        
.l-h43, .lh43{ line-height: 43px !important; }
.a_l-h43:active, .a_lh43:active{ line-height: 43px !important; }
.g_l-h43:hover, .h_lh43:hover{ line-height: 43px !important; }
.f_l-h43:focus, .f_lh43:focus{ line-height: 43px !important; }
.l_l-h43:link, .l_lh43:link{ line-height: 43px !important; }
.v_l-h43:visited, .v_lh43:visited{ line-height: 43px !important; }
        
.l-h44, .lh44{ line-height: 44px !important; }
.a_l-h44:active, .a_lh44:active{ line-height: 44px !important; }
.g_l-h44:hover, .h_lh44:hover{ line-height: 44px !important; }
.f_l-h44:focus, .f_lh44:focus{ line-height: 44px !important; }
.l_l-h44:link, .l_lh44:link{ line-height: 44px !important; }
.v_l-h44:visited, .v_lh44:visited{ line-height: 44px !important; }
        
.l-h45, .lh45{ line-height: 45px !important; }
.a_l-h45:active, .a_lh45:active{ line-height: 45px !important; }
.g_l-h45:hover, .h_lh45:hover{ line-height: 45px !important; }
.f_l-h45:focus, .f_lh45:focus{ line-height: 45px !important; }
.l_l-h45:link, .l_lh45:link{ line-height: 45px !important; }
.v_l-h45:visited, .v_lh45:visited{ line-height: 45px !important; }
        
.l-h46, .lh46{ line-height: 46px !important; }
.a_l-h46:active, .a_lh46:active{ line-height: 46px !important; }
.g_l-h46:hover, .h_lh46:hover{ line-height: 46px !important; }
.f_l-h46:focus, .f_lh46:focus{ line-height: 46px !important; }
.l_l-h46:link, .l_lh46:link{ line-height: 46px !important; }
.v_l-h46:visited, .v_lh46:visited{ line-height: 46px !important; }
        
.l-h47, .lh47{ line-height: 47px !important; }
.a_l-h47:active, .a_lh47:active{ line-height: 47px !important; }
.g_l-h47:hover, .h_lh47:hover{ line-height: 47px !important; }
.f_l-h47:focus, .f_lh47:focus{ line-height: 47px !important; }
.l_l-h47:link, .l_lh47:link{ line-height: 47px !important; }
.v_l-h47:visited, .v_lh47:visited{ line-height: 47px !important; }
        
.l-h48, .lh48{ line-height: 48px !important; }
.a_l-h48:active, .a_lh48:active{ line-height: 48px !important; }
.g_l-h48:hover, .h_lh48:hover{ line-height: 48px !important; }
.f_l-h48:focus, .f_lh48:focus{ line-height: 48px !important; }
.l_l-h48:link, .l_lh48:link{ line-height: 48px !important; }
.v_l-h48:visited, .v_lh48:visited{ line-height: 48px !important; }
        
.l-h49, .lh49{ line-height: 49px !important; }
.a_l-h49:active, .a_lh49:active{ line-height: 49px !important; }
.g_l-h49:hover, .h_lh49:hover{ line-height: 49px !important; }
.f_l-h49:focus, .f_lh49:focus{ line-height: 49px !important; }
.l_l-h49:link, .l_lh49:link{ line-height: 49px !important; }
.v_l-h49:visited, .v_lh49:visited{ line-height: 49px !important; }
        
.l-h50, .lh50{ line-height: 50px !important; }
.a_l-h50:active, .a_lh50:active{ line-height: 50px !important; }
.g_l-h50:hover, .h_lh50:hover{ line-height: 50px !important; }
.f_l-h50:focus, .f_lh50:focus{ line-height: 50px !important; }
.l_l-h50:link, .l_lh50:link{ line-height: 50px !important; }
.v_l-h50:visited, .v_lh50:visited{ line-height: 50px !important; }
        