
.bazure{background-color:azure !important;}
.cazure{color:azure !important;}
.crcazure{column-rule-color:azure !important;}
.bcazure{border-color:azure !important;}
.btnazure{background:azure;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bblack{background-color:black !important;}
.cblack{color:black !important;}
.crcblack{column-rule-color:black !important;}
.bcblack{border-color:black !important;}
.btnblack{background:black;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bblue{background-color:blue !important;}
.cblue{color:blue !important;}
.crcblue{column-rule-color:blue !important;}
.bcblue{border-color:blue !important;}
.btnblue{background:blue;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bcornsilk{background-color:cornsilk !important;}
.ccornsilk{color:cornsilk !important;}
.crccornsilk{column-rule-color:cornsilk !important;}
.bccornsilk{border-color:cornsilk !important;}
.btncornsilk{background:cornsilk;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bdarkblue{background-color:darkblue !important;}
.cdarkblue{color:darkblue !important;}
.crcdarkblue{column-rule-color:darkblue !important;}
.bcdarkblue{border-color:darkblue !important;}
.btndarkblue{background:darkblue;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bdarkcyan{background-color:darkcyan !important;}
.cdarkcyan{color:darkcyan !important;}
.crcdarkcyan{column-rule-color:darkcyan !important;}
.bcdarkcyan{border-color:darkcyan !important;}
.btndarkcyan{background:darkcyan;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bdarkgoldenrod{background-color:darkgoldenrod !important;}
.cdarkgoldenrod{color:darkgoldenrod !important;}
.crcdarkgoldenrod{column-rule-color:darkgoldenrod !important;}
.bcdarkgoldenrod{border-color:darkgoldenrod !important;}
.btndarkgoldenrod{background:darkgoldenrod;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bdarkgray{background-color:darkgray !important;}
.cdarkgray{color:darkgray !important;}
.crcdarkgray{column-rule-color:darkgray !important;}
.bcdarkgray{border-color:darkgray !important;}
.btndarkgray{background:darkgray;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bdarkgreen{background-color:darkgreen !important;}
.cdarkgreen{color:darkgreen !important;}
.crcdarkgreen{column-rule-color:darkgreen !important;}
.bcdarkgreen{border-color:darkgreen !important;}
.btndarkgreen{background:darkgreen;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bdarkmagenta{background-color:darkmagenta !important;}
.cdarkmagenta{color:darkmagenta !important;}
.crcdarkmagenta{column-rule-color:darkmagenta !important;}
.bcdarkmagenta{border-color:darkmagenta !important;}
.btndarkmagenta{background:darkmagenta;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bdarkorchid{background-color:darkorchid !important;}
.cdarkorchid{color:darkorchid !important;}
.crcdarkorchid{column-rule-color:darkorchid !important;}
.bcdarkorchid{border-color:darkorchid !important;}
.btndarkorchid{background:darkorchid;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bdarkred{background-color:darkred !important;}
.cdarkred{color:darkred !important;}
.crcdarkred{column-rule-color:darkred !important;}
.bcdarkred{border-color:darkred !important;}
.btndarkred{background:darkred;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bdeep{background-color:deep !important;}
.cdeep{color:deep !important;}
.crcdeep{column-rule-color:deep !important;}
.bcdeep{border-color:deep !important;}
.btndeep{background:deep;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bpink{background-color:pink !important;}
.cpink{color:pink !important;}
.crcpink{column-rule-color:pink !important;}
.bcpink{border-color:pink !important;}
.btnpink{background:pink;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bpink{background-color:pink !important;}
.cpink{color:pink !important;}
.crcpink{column-rule-color:pink !important;}
.bcpink{border-color:pink !important;}
.btnpink{background:pink;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bfirebrick{background-color:firebrick !important;}
.cfirebrick{color:firebrick !important;}
.crcfirebrick{column-rule-color:firebrick !important;}
.bcfirebrick{border-color:firebrick !important;}
.btnfirebrick{background:firebrick;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bfloralwhite{background-color:floralwhite !important;}
.cfloralwhite{color:floralwhite !important;}
.crcfloralwhite{column-rule-color:floralwhite !important;}
.bcfloralwhite{border-color:floralwhite !important;}
.btnfloralwhite{background:floralwhite;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bforestgreen{background-color:forestgreen !important;}
.cforestgreen{color:forestgreen !important;}
.crcforestgreen{column-rule-color:forestgreen !important;}
.bcforestgreen{border-color:forestgreen !important;}
.btnforestgreen{background:forestgreen;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bmagenta{background-color:magenta !important;}
.cmagenta{color:magenta !important;}
.crcmagenta{column-rule-color:magenta !important;}
.bcmagenta{border-color:magenta !important;}
.btnmagenta{background:magenta;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bgainsboro{background-color:gainsboro !important;}
.cgainsboro{color:gainsboro !important;}
.crcgainsboro{column-rule-color:gainsboro !important;}
.bcgainsboro{border-color:gainsboro !important;}
.btngainsboro{background:gainsboro;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bghostwhite{background-color:ghostwhite !important;}
.cghostwhite{color:ghostwhite !important;}
.crcghostwhite{column-rule-color:ghostwhite !important;}
.bcghostwhite{border-color:ghostwhite !important;}
.btnghostwhite{background:ghostwhite;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bgold{background-color:gold !important;}
.cgold{color:gold !important;}
.crcgold{column-rule-color:gold !important;}
.bcgold{border-color:gold !important;}
.btngold{background:gold;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bgoldenrod{background-color:goldenrod !important;}
.cgoldenrod{color:goldenrod !important;}
.crcgoldenrod{column-rule-color:goldenrod !important;}
.bcgoldenrod{border-color:goldenrod !important;}
.btngoldenrod{background:goldenrod;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bgreen{background-color:green !important;}
.cgreen{color:green !important;}
.crcgreen{column-rule-color:green !important;}
.bcgreen{border-color:green !important;}
.btngreen{background:green;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bgreenyellow{background-color:greenyellow !important;}
.cgreenyellow{color:greenyellow !important;}
.crcgreenyellow{column-rule-color:greenyellow !important;}
.bcgreenyellow{border-color:greenyellow !important;}
.btngreenyellow{background:greenyellow;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bhoneydew{background-color:honeydew !important;}
.choneydew{color:honeydew !important;}
.crchoneydew{column-rule-color:honeydew !important;}
.bchoneydew{border-color:honeydew !important;}
.btnhoneydew{background:honeydew;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bhotpink{background-color:hotpink !important;}
.chotpink{color:hotpink !important;}
.crchotpink{column-rule-color:hotpink !important;}
.bchotpink{border-color:hotpink !important;}
.btnhotpink{background:hotpink;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bindianred{background-color:indianred !important;}
.cindianred{color:indianred !important;}
.crcindianred{column-rule-color:indianred !important;}
.bcindianred{border-color:indianred !important;}
.btnindianred{background:indianred;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bindigo{background-color:indigo !important;}
.cindigo{color:indigo !important;}
.crcindigo{column-rule-color:indigo !important;}
.bcindigo{border-color:indigo !important;}
.btnindigo{background:indigo;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bivory{background-color:ivory !important;}
.civory{color:ivory !important;}
.crcivory{column-rule-color:ivory !important;}
.bcivory{border-color:ivory !important;}
.btnivory{background:ivory;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bkhaki{background-color:khaki !important;}
.ckhaki{color:khaki !important;}
.crckhaki{column-rule-color:khaki !important;}
.bckhaki{border-color:khaki !important;}
.btnkhaki{background:khaki;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.blavender{background-color:lavender !important;}
.clavender{color:lavender !important;}
.crclavender{column-rule-color:lavender !important;}
.bclavender{border-color:lavender !important;}
.btnlavender{background:lavender;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.blavenderblush{background-color:lavenderblush !important;}
.clavenderblush{color:lavenderblush !important;}
.crclavenderblush{column-rule-color:lavenderblush !important;}
.bclavenderblush{border-color:lavenderblush !important;}
.btnlavenderblush{background:lavenderblush;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.blawngreen{background-color:lawngreen !important;}
.clawngreen{color:lawngreen !important;}
.crclawngreen{column-rule-color:lawngreen !important;}
.bclawngreen{border-color:lawngreen !important;}
.btnlawngreen{background:lawngreen;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.blightblue{background-color:lightblue !important;}
.clightblue{color:lightblue !important;}
.crclightblue{column-rule-color:lightblue !important;}
.bclightblue{border-color:lightblue !important;}
.btnlightblue{background:lightblue;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.blightcoral{background-color:lightcoral !important;}
.clightcoral{color:lightcoral !important;}
.crclightcoral{column-rule-color:lightcoral !important;}
.bclightcoral{border-color:lightcoral !important;}
.btnlightcoral{background:lightcoral;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.blightcyan{background-color:lightcyan !important;}
.clightcyan{color:lightcyan !important;}
.crclightcyan{column-rule-color:lightcyan !important;}
.bclightcyan{border-color:lightcyan !important;}
.btnlightcyan{background:lightcyan;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.blightgoldenrodyellow{background-color:lightgoldenrodyellow !important;}
.clightgoldenrodyellow{color:lightgoldenrodyellow !important;}
.crclightgoldenrodyellow{column-rule-color:lightgoldenrodyellow !important;}
.bclightgoldenrodyellow{border-color:lightgoldenrodyellow !important;}
.btnlightgoldenrodyellow{background:lightgoldenrodyellow;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.blightgray{background-color:lightgray !important;}
.clightgray{color:lightgray !important;}
.crclightgray{column-rule-color:lightgray !important;}
.bclightgray{border-color:lightgray !important;}
.btnlightgray{background:lightgray;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.blightgreen{background-color:lightgreen !important;}
.clightgreen{color:lightgreen !important;}
.crclightgreen{column-rule-color:lightgreen !important;}
.bclightgreen{border-color:lightgreen !important;}
.btnlightgreen{background:lightgreen;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.blightpink{background-color:lightpink !important;}
.clightpink{color:lightpink !important;}
.crclightpink{column-rule-color:lightpink !important;}
.bclightpink{border-color:lightpink !important;}
.btnlightpink{background:lightpink;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.blightslategray{background-color:lightslategray !important;}
.clightslategray{color:lightslategray !important;}
.crclightslategray{column-rule-color:lightslategray !important;}
.bclightslategray{border-color:lightslategray !important;}
.btnlightslategray{background:lightslategray;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.blightsteelblue{background-color:lightsteelblue !important;}
.clightsteelblue{color:lightsteelblue !important;}
.crclightsteelblue{column-rule-color:lightsteelblue !important;}
.bclightsteelblue{border-color:lightsteelblue !important;}
.btnlightsteelblue{background:lightsteelblue;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.blime{background-color:lime !important;}
.clime{color:lime !important;}
.crclime{column-rule-color:lime !important;}
.bclime{border-color:lime !important;}
.btnlime{background:lime;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.blimegreen{background-color:limegreen !important;}
.climegreen{color:limegreen !important;}
.crclimegreen{column-rule-color:limegreen !important;}
.bclimegreen{border-color:limegreen !important;}
.btnlimegreen{background:limegreen;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bmagenta{background-color:magenta !important;}
.cmagenta{color:magenta !important;}
.crcmagenta{column-rule-color:magenta !important;}
.bcmagenta{border-color:magenta !important;}
.btnmagenta{background:magenta;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bmaroon{background-color:maroon !important;}
.cmaroon{color:maroon !important;}
.crcmaroon{column-rule-color:maroon !important;}
.bcmaroon{border-color:maroon !important;}
.btnmaroon{background:maroon;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bmediumblue{background-color:mediumblue !important;}
.cmediumblue{color:mediumblue !important;}
.crcmediumblue{column-rule-color:mediumblue !important;}
.bcmediumblue{border-color:mediumblue !important;}
.btnmediumblue{background:mediumblue;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bmediumspringgreen{background-color:mediumspringgreen !important;}
.cmediumspringgreen{color:mediumspringgreen !important;}
.crcmediumspringgreen{column-rule-color:mediumspringgreen !important;}
.bcmediumspringgreen{border-color:mediumspringgreen !important;}
.btnmediumspringgreen{background:mediumspringgreen;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bmintcream{background-color:mintcream !important;}
.cmintcream{color:mintcream !important;}
.crcmintcream{column-rule-color:mintcream !important;}
.bcmintcream{border-color:mintcream !important;}
.btnmintcream{background:mintcream;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bmistyrose{background-color:mistyrose !important;}
.cmistyrose{color:mistyrose !important;}
.crcmistyrose{column-rule-color:mistyrose !important;}
.bcmistyrose{border-color:mistyrose !important;}
.btnmistyrose{background:mistyrose;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bmoccasin{background-color:moccasin !important;}
.cmoccasin{color:moccasin !important;}
.crcmoccasin{column-rule-color:moccasin !important;}
.bcmoccasin{border-color:moccasin !important;}
.btnmoccasin{background:moccasin;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bnavajowhite{background-color:navajowhite !important;}
.cnavajowhite{color:navajowhite !important;}
.crcnavajowhite{column-rule-color:navajowhite !important;}
.bcnavajowhite{border-color:navajowhite !important;}
.btnnavajowhite{background:navajowhite;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bolive{background-color:olive !important;}
.colive{color:olive !important;}
.crcolive{column-rule-color:olive !important;}
.bcolive{border-color:olive !important;}
.btnolive{background:olive;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.boldlace{background-color:oldlace !important;}
.coldlace{color:oldlace !important;}
.crcoldlace{column-rule-color:oldlace !important;}
.bcoldlace{border-color:oldlace !important;}
.btnoldlace{background:oldlace;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bolivedrab{background-color:olivedrab !important;}
.colivedrab{color:olivedrab !important;}
.crcolivedrab{column-rule-color:olivedrab !important;}
.bcolivedrab{border-color:olivedrab !important;}
.btnolivedrab{background:olivedrab;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.borangered{background-color:orangered !important;}
.corangered{color:orangered !important;}
.crcorangered{column-rule-color:orangered !important;}
.bcorangered{border-color:orangered !important;}
.btnorangered{background:orangered;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bpalegreen{background-color:palegreen !important;}
.cpalegreen{color:palegreen !important;}
.crcpalegreen{column-rule-color:palegreen !important;}
.bcpalegreen{border-color:palegreen !important;}
.btnpalegreen{background:palegreen;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bpapayawhip{background-color:papayawhip !important;}
.cpapayawhip{color:papayawhip !important;}
.crcpapayawhip{column-rule-color:papayawhip !important;}
.bcpapayawhip{border-color:papayawhip !important;}
.btnpapayawhip{background:papayawhip;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bpeachpuff{background-color:peachpuff !important;}
.cpeachpuff{color:peachpuff !important;}
.crcpeachpuff{column-rule-color:peachpuff !important;}
.bcpeachpuff{border-color:peachpuff !important;}
.btnpeachpuff{background:peachpuff;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bpink{background-color:pink !important;}
.cpink{color:pink !important;}
.crcpink{column-rule-color:pink !important;}
.bcpink{border-color:pink !important;}
.btnpink{background:pink;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bplum{background-color:plum !important;}
.cplum{color:plum !important;}
.crcplum{column-rule-color:plum !important;}
.bcplum{border-color:plum !important;}
.btnplum{background:plum;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bpowderblue{background-color:powderblue !important;}
.cpowderblue{color:powderblue !important;}
.crcpowderblue{column-rule-color:powderblue !important;}
.bcpowderblue{border-color:powderblue !important;}
.btnpowderblue{background:powderblue;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bpurple{background-color:purple !important;}
.cpurple{color:purple !important;}
.crcpurple{column-rule-color:purple !important;}
.bcpurple{border-color:purple !important;}
.btnpurple{background:purple;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.brebeccapurple{background-color:rebeccapurple !important;}
.crebeccapurple{color:rebeccapurple !important;}
.crcrebeccapurple{column-rule-color:rebeccapurple !important;}
.bcrebeccapurple{border-color:rebeccapurple !important;}
.btnrebeccapurple{background:rebeccapurple;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.brosybrown{background-color:rosybrown !important;}
.crosybrown{color:rosybrown !important;}
.crcrosybrown{column-rule-color:rosybrown !important;}
.bcrosybrown{border-color:rosybrown !important;}
.btnrosybrown{background:rosybrown;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.broyalblue{background-color:royalblue !important;}
.croyalblue{color:royalblue !important;}
.crcroyalblue{column-rule-color:royalblue !important;}
.bcroyalblue{border-color:royalblue !important;}
.btnroyalblue{background:royalblue;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bsalmon{background-color:salmon !important;}
.csalmon{color:salmon !important;}
.crcsalmon{column-rule-color:salmon !important;}
.bcsalmon{border-color:salmon !important;}
.btnsalmon{background:salmon;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bsandybrown{background-color:sandybrown !important;}
.csandybrown{color:sandybrown !important;}
.crcsandybrown{column-rule-color:sandybrown !important;}
.bcsandybrown{border-color:sandybrown !important;}
.btnsandybrown{background:sandybrown;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bseagreen{background-color:seagreen !important;}
.cseagreen{color:seagreen !important;}
.crcseagreen{column-rule-color:seagreen !important;}
.bcseagreen{border-color:seagreen !important;}
.btnseagreen{background:seagreen;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bseashell{background-color:seashell !important;}
.cseashell{color:seashell !important;}
.crcseashell{column-rule-color:seashell !important;}
.bcseashell{border-color:seashell !important;}
.btnseashell{background:seashell;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bsienna{background-color:sienna !important;}
.csienna{color:sienna !important;}
.crcsienna{column-rule-color:sienna !important;}
.bcsienna{border-color:sienna !important;}
.btnsienna{background:sienna;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bsilver{background-color:silver !important;}
.csilver{color:silver !important;}
.crcsilver{column-rule-color:silver !important;}
.bcsilver{border-color:silver !important;}
.btnsilver{background:silver;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bskyblue{background-color:skyblue !important;}
.cskyblue{color:skyblue !important;}
.crcskyblue{column-rule-color:skyblue !important;}
.bcskyblue{border-color:skyblue !important;}
.btnskyblue{background:skyblue;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bsnow{background-color:snow !important;}
.csnow{color:snow !important;}
.crcsnow{column-rule-color:snow !important;}
.bcsnow{border-color:snow !important;}
.btnsnow{background:snow;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bsteelblue{background-color:steelblue !important;}
.csteelblue{color:steelblue !important;}
.crcsteelblue{column-rule-color:steelblue !important;}
.bcsteelblue{border-color:steelblue !important;}
.btnsteelblue{background:steelblue;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.btan{background-color:tan !important;}
.ctan{color:tan !important;}
.crctan{column-rule-color:tan !important;}
.bctan{border-color:tan !important;}
.btntan{background:tan;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.btomato{background-color:tomato !important;}
.ctomato{color:tomato !important;}
.crctomato{column-rule-color:tomato !important;}
.bctomato{border-color:tomato !important;}
.btntomato{background:tomato;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bturquoise{background-color:turquoise !important;}
.cturquoise{color:turquoise !important;}
.crcturquoise{column-rule-color:turquoise !important;}
.bcturquoise{border-color:turquoise !important;}
.btnturquoise{background:turquoise;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bviolet{background-color:violet !important;}
.cviolet{color:violet !important;}
.crcviolet{column-rule-color:violet !important;}
.bcviolet{border-color:violet !important;}
.btnviolet{background:violet;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bwheat{background-color:wheat !important;}
.cwheat{color:wheat !important;}
.crcwheat{column-rule-color:wheat !important;}
.bcwheat{border-color:wheat !important;}
.btnwheat{background:wheat;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bwhite{background-color:white !important;}
.cwhite{color:white !important;}
.crcwhite{column-rule-color:white !important;}
.bcwhite{border-color:white !important;}
.btnwhite{background:white;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bwhitesmoke{background-color:whitesmoke !important;}
.cwhitesmoke{color:whitesmoke !important;}
.crcwhitesmoke{column-rule-color:whitesmoke !important;}
.bcwhitesmoke{border-color:whitesmoke !important;}
.btnwhitesmoke{background:whitesmoke;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.byellowgreen{background-color:yellowgreen !important;}
.cyellowgreen{color:yellowgreen !important;}
.crcyellowgreen{column-rule-color:yellowgreen !important;}
.bcyellowgreen{border-color:yellowgreen !important;}
.btnyellowgreen{background:yellowgreen;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.bred{background-color:red !important;}
.cred{color:red !important;}
.crcred{column-rule-color:red !important;}
.bcred{border-color:red !important;}
.btnred{background:red;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.borange{background-color:orange !important;}
.corange{color:orange !important;}
.crcorange{column-rule-color:orange !important;}
.bcorange{border-color:orange !important;}
.btnorange{background:orange;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }
.byellow{background-color:yellow !important;}
.cyellow{color:yellow !important;}
.crcyellow{column-rule-color:yellow !important;}
.bcyellow{border-color:yellow !important;}
.btnyellow{background:yellow;padding:0;margin:0;list-style:none;display:flex;justify-content:center;align-items:center;width:100%;height:35px;border:none;outline:none;text-decoration:none; }