/*
outline-offset
.of${i}{outline-offset:${i}px !important;}
*/
.of0{outline-offset:0px !important;}
.of1{outline-offset:1px !important;}
.of2{outline-offset:2px !important;}
.of3{outline-offset:3px !important;}
.of4{outline-offset:4px !important;}
.of5{outline-offset:5px !important;}
.of6{outline-offset:6px !important;}
.of7{outline-offset:7px !important;}
.of8{outline-offset:8px !important;}
.of9{outline-offset:9px !important;}
.of10{outline-offset:10px !important;}
.of11{outline-offset:11px !important;}
.of12{outline-offset:12px !important;}
.of13{outline-offset:13px !important;}
.of14{outline-offset:14px !important;}
.of15{outline-offset:15px !important;}
.of16{outline-offset:16px !important;}
.of17{outline-offset:17px !important;}
.of18{outline-offset:18px !important;}
.of19{outline-offset:19px !important;}
.of20{outline-offset:20px !important;}
.of21{outline-offset:21px !important;}
.of22{outline-offset:22px !important;}
.of23{outline-offset:23px !important;}
.of24{outline-offset:24px !important;}
.of25{outline-offset:25px !important;}
.of26{outline-offset:26px !important;}
.of27{outline-offset:27px !important;}
.of28{outline-offset:28px !important;}
.of29{outline-offset:29px !important;}
.of30{outline-offset:30px !important;}
.of31{outline-offset:31px !important;}
.of32{outline-offset:32px !important;}
.of33{outline-offset:33px !important;}
.of34{outline-offset:34px !important;}
.of35{outline-offset:35px !important;}
.of36{outline-offset:36px !important;}
.of37{outline-offset:37px !important;}
.of38{outline-offset:38px !important;}
.of39{outline-offset:39px !important;}
.of40{outline-offset:40px !important;}
.of41{outline-offset:41px !important;}
.of42{outline-offset:42px !important;}
.of43{outline-offset:43px !important;}
.of44{outline-offset:44px !important;}
.of45{outline-offset:45px !important;}
.of46{outline-offset:46px !important;}
.of47{outline-offset:47px !important;}
.of48{outline-offset:48px !important;}
.of49{outline-offset:49px !important;}
.of50{outline-offset:50px !important;}