.t-i-1 { text-indent: 1px; }
.t-i-2 { text-indent: 2px; }
.t-i-3 { text-indent: 3px; }
.t-i-4 { text-indent: 4px; }
.t-i-5 { text-indent: 5px; }
.t-i-6 { text-indent: 6px; }
.t-i-7 { text-indent: 7px; }
.t-i-8 { text-indent: 8px; }
.t-i-9 { text-indent: 9px; }
.t-i-10 { text-indent: 10px; }
.t-i-11 { text-indent: 11px; }
.t-i-12 { text-indent: 12px; }
.t-i-13 { text-indent: 13px; }
.t-i-14 { text-indent: 14px; }
.t-i-15 { text-indent: 15px; }
.t-i-16 { text-indent: 16px; }
.t-i-17 { text-indent: 17px; }
.t-i-18 { text-indent: 18px; }
.t-i-19 { text-indent: 19px; }
.t-i-20 { text-indent: 20px; }
.t-i-21 { text-indent: 21px; }
.t-i-22 { text-indent: 22px; }
.t-i-23 { text-indent: 23px; }
.t-i-24 { text-indent: 24px; }
.t-i-25 { text-indent: 25px; }
.t-i-26 { text-indent: 26px; }
.t-i-27 { text-indent: 27px; }
.t-i-28 { text-indent: 28px; }
.t-i-29 { text-indent: 29px; }
.t-i-30 { text-indent: 30px; }
.t-i-31 { text-indent: 31px; }
.t-i-32 { text-indent: 32px; }
.t-i-33 { text-indent: 33px; }
.t-i-34 { text-indent: 34px; }
.t-i-35 { text-indent: 35px; }
.t-i-36 { text-indent: 36px; }
.t-i-37 { text-indent: 37px; }
.t-i-38 { text-indent: 38px; }
.t-i-39 { text-indent: 39px; }
.t-i-40 { text-indent: 40px; }
.t-i-41 { text-indent: 41px; }
.t-i-42 { text-indent: 42px; }
.t-i-43 { text-indent: 43px; }
.t-i-44 { text-indent: 44px; }
.t-i-45 { text-indent: 45px; }
.t-i-46 { text-indent: 46px; }
.t-i-47 { text-indent: 47px; }
.t-i-48 { text-indent: 48px; }
.t-i-49 { text-indent: 49px; }
.t-i-50 { text-indent: 50px; }
.t-i-51 { text-indent: 51px; }
.t-i-52 { text-indent: 52px; }
.t-i-53 { text-indent: 53px; }
.t-i-54 { text-indent: 54px; }
.t-i-55 { text-indent: 55px; }
.t-i-56 { text-indent: 56px; }
.t-i-57 { text-indent: 57px; }
.t-i-58 { text-indent: 58px; }
.t-i-59 { text-indent: 59px; }
.t-i-60 { text-indent: 60px; }
.t-i-61 { text-indent: 61px; }
.t-i-62 { text-indent: 62px; }
.t-i-63 { text-indent: 63px; }
.t-i-64 { text-indent: 64px; }
.t-i-65 { text-indent: 65px; }
.t-i-66 { text-indent: 66px; }
.t-i-67 { text-indent: 67px; }
.t-i-68 { text-indent: 68px; }
.t-i-69 { text-indent: 69px; }
.t-i-70 { text-indent: 70px; }
.t-i-71 { text-indent: 71px; }
.t-i-72 { text-indent: 72px; }
.t-i-73 { text-indent: 73px; }
.t-i-74 { text-indent: 74px; }
.t-i-75 { text-indent: 75px; }
.t-i-76 { text-indent: 76px; }
.t-i-77 { text-indent: 77px; }
.t-i-78 { text-indent: 78px; }
.t-i-79 { text-indent: 79px; }
.t-i-80 { text-indent: 80px; }
.t-i-81 { text-indent: 81px; }
.t-i-82 { text-indent: 82px; }
.t-i-83 { text-indent: 83px; }
.t-i-84 { text-indent: 84px; }
.t-i-85 { text-indent: 85px; }
.t-i-86 { text-indent: 86px; }
.t-i-87 { text-indent: 87px; }
.t-i-88 { text-indent: 88px; }
.t-i-89 { text-indent: 89px; }
.t-i-90 { text-indent: 90px; }
.t-i-91 { text-indent: 91px; }
.t-i-92 { text-indent: 92px; }
.t-i-93 { text-indent: 93px; }
.t-i-94 { text-indent: 94px; }
.t-i-95 { text-indent: 95px; }
.t-i-96 { text-indent: 96px; }
.t-i-97 { text-indent: 97px; }
.t-i-98 { text-indent: 98px; }
.t-i-99 { text-indent: 99px; }
.t-i-100 { text-indent: 100px; }