
.w-s0{word-spacing: 0px !important;}

.w-s1{word-spacing: 1px !important;}

.w-s2{word-spacing: 2px !important;}

.w-s3{word-spacing: 3px !important;}

.w-s4{word-spacing: 4px !important;}

.w-s5{word-spacing: 5px !important;}

.w-s6{word-spacing: 6px !important;}

.w-s7{word-spacing: 7px !important;}

.w-s8{word-spacing: 8px !important;}

.w-s9{word-spacing: 9px !important;}

.w-s10{word-spacing: 10px !important;}

.w-s11{word-spacing: 11px !important;}

.w-s12{word-spacing: 12px !important;}

.w-s13{word-spacing: 13px !important;}

.w-s14{word-spacing: 14px !important;}

.w-s15{word-spacing: 15px !important;}

.w-s16{word-spacing: 16px !important;}

.w-s17{word-spacing: 17px !important;}

.w-s18{word-spacing: 18px !important;}

.w-s19{word-spacing: 19px !important;}

.w-s20{word-spacing: 20px !important;}

.w-s21{word-spacing: 21px !important;}

.w-s22{word-spacing: 22px !important;}

.w-s23{word-spacing: 23px !important;}

.w-s24{word-spacing: 24px !important;}

.w-s25{word-spacing: 25px !important;}

.w-s26{word-spacing: 26px !important;}

.w-s27{word-spacing: 27px !important;}

.w-s28{word-spacing: 28px !important;}

.w-s29{word-spacing: 29px !important;}

.w-s30{word-spacing: 30px !important;}

.w-s31{word-spacing: 31px !important;}

.w-s32{word-spacing: 32px !important;}

.w-s33{word-spacing: 33px !important;}

.w-s34{word-spacing: 34px !important;}

.w-s35{word-spacing: 35px !important;}

.w-s36{word-spacing: 36px !important;}

.w-s37{word-spacing: 37px !important;}

.w-s38{word-spacing: 38px !important;}

.w-s39{word-spacing: 39px !important;}

.w-s40{word-spacing: 40px !important;}

.w-s41{word-spacing: 41px !important;}

.w-s42{word-spacing: 42px !important;}

.w-s43{word-spacing: 43px !important;}

.w-s44{word-spacing: 44px !important;}

.w-s45{word-spacing: 45px !important;}

.w-s46{word-spacing: 46px !important;}

.w-s47{word-spacing: 47px !important;}

.w-s48{word-spacing: 48px !important;}

.w-s49{word-spacing: 49px !important;}

.w-s50{word-spacing: 50px !important;}
